//COMPASS
@import "compass/css3.scss";

// BROWSER RESET
@import "compass/reset";
@import "helpers/_reset.scss";

//HELPERS
@import "helpers/_variables.scss";

//MIXIN
@import "helpers/_mixins.scss";

// COMPONENTS
@import "components/_btn.scss";
@import "components/_background.scss";
@import "components/_form-group.scss";
@import "components/_menu.scss";
@import "components/_short-setting.scss";
@import "components/_search-icon.scss";
@import "components/_table.scss";
@import "components/_fonts.scss";
@import "components/_custom-checkbox.scss";
@import "components/_logo.scss";
@import "components/_cover.scss";
@import "components/_animation.scss";
@import "components/_close.scss";
@import "components/_cutom-radio.scss";
@import "components/_center-element.scss";
@import "components/_fixed-width.scss";
@import "components/_title.scss";
@import "components/_menu-icon-site-title.scss";
@import "components/_notification.scss";
@import "components/_user-profile-icon.scss"; 
@import "components/_logout.scss"; 
@import "components/_main.scss";
@import "components/_rest.scss";

// main overlay


// filter option
@import "components/_filter-option.scss";
@import "components/_main-overlay.scss";

// custom jquery ui css
@import "layout/_jquery-ui.scss";

// DASHBOARD COMPONENT
@import "components/_title-with-icon.scss";
@import "components/_connect-n-profile.scss";
@import "components/_dash-profile.scss";
@import "components/_activities-log-setting.scss";
@import "components/_dash-setting.scss";


// ACTIVITIES LOG COMPONENT
@import "components/_activitie-options.scss";
@import "components/_c-pagination.scss";


// SEARCH
@import "components/_search-ani.scss";

// LAYOUT
@import "layout/_signin.scss";
@import "layout/_recover.scss";
@import "layout/_sign-up.scss";
@import "layout/_top-header.scss";
@import "layout/_setting.scss";


body{
    background-color:#F2F2F2;
    font-family: lato;
}
@include media(xs){
    body, .connected-n-profile{
        background-color:#F7F0F0;
    }
}

