.btn-recover{
    @include rotate(45);
    &:hover{
        span[class^="icon-"]{
            @include animation( spin 5s infinite steps(538));
        }
    }
    span[class^="icon-"]{
        display: inline-block;
    }
}