.btn-login{
    @include transition( background-color 0.3s ease-in-out );
    &:hover{
        svg{
            .arrow{
                @include animation( left-inf 1s ease-in-out infinite );
            }
        }
    }
    &:focus{
        outline: none;
    }
    svg{
        fill:$white;
    }
}