.btn-fail{
    color:$white;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    background: lighten($black, 85%);
    @include transition( all 0.3s ease-in-out );
    
    &:hover{
        background-color:lighten($black, 80%);;
        letter-spacing: 1px;
    }
}