html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a:hover {
  color: inherit;
  text-decoration: none; }

button:focus {
  outline: none; }

.btn-login {
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }
  .btn-login:hover svg .arrow {
    -webkit-animation: left-inf 1s ease-in-out infinite;
    -o-animation: left-inf 1s ease-in-out infinite;
    -o-animation: left-inf 1s ease-in-out infinite;
    animation: left-inf 1s ease-in-out infinite; }
  .btn-login:focus {
    outline: none; }
  .btn-login svg {
    fill: #fff; }

.btn-success {
  background: #4acb6c;
  color: #fff;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-success:hover {
    background-color: #38c35d;
    letter-spacing: 1px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2016, 12:17:04 PM
    Author     : dell
*/
.btn-round-icon {
  width: 55px;
  border: none;
  height: 55px;
  color: #fff;
  line-height: 50%;
  font-size: 22px;
  border-radius: 50%;
  background-color: #1e90b3; }
  .btn-round-icon:hover {
    background-color: #1a7e9d; }
    .btn-round-icon:hover span.icon-right-arrow {
      -webkit-animation: left-inf 1s infinite steps(538);
      -o-animation: left-inf 1s infinite steps(538);
      -o-animation: left-inf 1s infinite steps(538);
      animation: left-inf 1s infinite steps(538); }
  .btn-round-icon span.icon-right-arrow {
    display: inline-block; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 15, 2016, 12:26:26 PM
    Author     : dell
*/
.btn-recover {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  .btn-recover:hover span[class^="icon-"] {
    -webkit-animation: spin 5s infinite steps(538);
    -o-animation: spin 5s infinite steps(538);
    -o-animation: spin 5s infinite steps(538);
    animation: spin 5s infinite steps(538); }
  .btn-recover span[class^="icon-"] {
    display: inline-block; }

.btn-fail {
  color: #fff;
  padding: 12px;
  color: #fff;
  cursor: pointer;
  background: #d9d9d9;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-fail:hover {
    background-color: #cccccc;
    letter-spacing: 1px; }

.btn-round-view {
  background: #22a2c9;
  display: inline-block;
  padding: 7px 0 9px;
  width: 100px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btn-round-view:hover {
    background: #1e90b3;
    text-decoration: none;
    color: #fff; }

.background {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh; }
  .background:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(30, 144, 179, 0.15); }

@media (max-width: 400px) {
  .background {
    padding: 20px 0;
    text-align: center; } }
.form-group {
  position: relative;
  margin-bottom: 3px; }
  .form-group > label {
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: normal;
    color: #9a9a9a; }
  .form-group span {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 17px;
    color: gray; }

.form-contorl {
  font-size: 16px;
  border: 1px solid #e6e6e6;
  padding: 12px 40px 12px 12px;
  width: 100%;
  font-size: 14px;
  font-style: italic;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .form-contorl.ng-touched, .form-contorl.ng-touched:focus {
    border-color: #fa6f62;
    color: #fa6f62; }
    .form-contorl.ng-touched + .icon, .form-contorl.ng-touched:focus + .icon {
      color: #fa6f62; }
  .form-contorl.ng-valid, .form-contorl.ng-valid:focus {
    border-color: #4acb6c;
    color: #4acb6c; }
    .form-contorl.ng-valid + .icon, .form-contorl.ng-valid:focus + .icon {
      color: #4acb6c; }
  .form-contorl:focus {
    outline: none;
    border-color: #29b1db; }
    .form-contorl:focus + .icon {
      color: #29b1db; }
  .form-contorl + .icon {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

.form-group span.fa {
  top: 10px; }

.form-contorl.first {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px; }

.form-contorl.last {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.side-menu {
  width: 60px;
  position: fixed;
  left: -60px;
  top: 0;
  bottom: 0;
  background: #fff;
  background-color: #1e90b3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .side-menu.open {
    left: 0; }
    .side-menu.open ul li.active a:before {
      left: 100%; }
  .side-menu .logo-c {
    font-size: 30px;
    width: 100%;
    height: 51px;
    line-height: 53px;
    background: #1b82a2;
    text-align: center;
    color: #fff; }
  .side-menu ul li.active a {
    position: relative;
    background-color: #22a2c9; }
    .side-menu ul li.active a:before {
      content: "";
      position: absolute;
      left: 70%;
      top: 19px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 16px solid #22a2c9;
      border-bottom: 8px solid transparent;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
  .side-menu ul li a {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 22px;
    height: 51px;
    line-height: 53px;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

@media (max-width: 787px) {
  .side-menu.open ul li.active a:before {
    left: 90%; } }
.setting-common img {
  margin: 10px 0 25px; }

.search {
  margin: 0 10px;
  border-left: 1px solid #cacaca;
  padding-left: 11px;
  margin-top: 3px;
  position: relative;
  right: 0;
  opacity: 1;
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .search.open {
    opacity: 0;
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    /*        padding-left:0;
            border-color:transparent;*/
    /*        form{
                width: 180px;
                overflow: hidden;
                opacity: 1;
            }*/
    /*        .search-icon{
                .circle{
                    border-radius: 0;
                    width: 1px;
                    height: 20px;
                    border: none;
                    background-color:lighten($black, 50%);
                    @include transform(translate(9px, 0px) rotate(45deg));
                }
                .line{
                    height: 20px;
                    @include transform(translate(-6px , -15px) rotate(-45deg)); 
                }
            }*/ }
  .search form {
    width: 0px;
    opacity: 0;
    padding: 1px 0;
    overflow: hidden;
    -webkit-transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out;
    transition: opacity 0.2s ease-in-out, width 0.3s ease-in-out; }
    .search form input {
      font-size: 14px;
      padding: 5px 10px;
      border: none;
      background: #e6e6e6;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px; }
      .search form input:focus {
        outline: none; }
  .search .search-icon {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
    padding-left: 5px;
    margin-top: 3px;
    z-index: 9; }
    .search .search-icon:hover .circle {
      border-color: #1e90b3; }
    .search .search-icon:hover .line {
      background-color: #1e90b3; }
    .search .search-icon .circle {
      width: 17px;
      height: 17px;
      display: inline-block;
      background-color: #fff;
      position: relative;
      z-index: 9;
      border: 1px solid gray;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: height 0.3s ease-in-out;
      -moz-transition: height 0.3s ease-in-out;
      -o-transition: height 0.3s ease-in-out;
      transition: height 0.3s ease-in-out; }
    .search .search-icon .line {
      width: 1px;
      height: 6px;
      display: inline-block;
      background-color: gray;
      position: absolute;
      right: -1px;
      top: 15px;
      -moz-transform: rotate(-42deg);
      -o-transform: rotate(-42deg);
      -ms-transform: rotate(-42deg);
      -webkit-transform: rotate(-42deg);
      transform: rotate(-42deg);
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }

@media (max-width: 787px) {
  .search.open {
    position: relative;
    right: -65px; }
  .search form {
    -webkit-transition: opacity 0.1s ease-in-out, width 0s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out, width 0s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out, width 0s ease-in-out;
    transition: opacity 0.1s ease-in-out, width 0s ease-in-out; } }
@media (max-width: 500px) {
  .search {
    margin: 2px 5px 0 13px;
    padding-left: 5px; }
    .search.open .search-icon .circle {
      -moz-transform: translate(11px, 2px) rotate(45deg);
      -o-transform: translate(11px, 2px) rotate(45deg);
      -ms-transform: translate(11px, 2px) rotate(45deg);
      -webkit-transform: translate(11px, 2px) rotate(45deg);
      transform: translate(11px, 2px) rotate(45deg); }
    .search .search-icon {
      width: 35px;
      height: 25px;
      padding-top: 2px;
      padding-left: 8px; }
      .search .search-icon .circle {
        width: 20px;
        height: 20px; }
      .search .search-icon .line {
        right: 8px;
        top: 18px; } }
.activities-table {
  margin-bottom: 15px;
  margin-top: 10px; }
  .activities-table thead {
    background-color: #29b1db;
    color: #fff; }
    .activities-table thead tr th {
      border-bottom: 2px solid #F4F4F4;
      text-align: center; }
  .activities-table tbody tr td {
    text-align: center;
    font-size: 13px;
    color: gray;
    background-color: #fff;
    border-bottom: 2px solid #F4F4F4; }

@media (max-width: 787px) {
  .activities-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative; }
    .activities-table thead {
      display: block;
      float: left; }
      .activities-table thead tr {
        display: block; }
        .activities-table thead tr th {
          display: block;
          text-align: center; }
    .activities-table tbody {
      display: block;
      position: relative;
      overflow-x: auto;
      white-space: nowrap; }
      .activities-table tbody tr {
        display: inline-block;
        vertical-align: top; }
        .activities-table tbody tr td {
          background-color: #fff;
          display: block;
          font-size: 14px;
          border-top: none;
          padding: 9px 15px;
          min-height: 1.25em;
          text-align: center;
          margin: 0;
          vertical-align: top; } }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?f3mmmo");
  src: url("../fonts/icomoon.eot?f3mmmo#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?f3mmmo") format("truetype"), url("../fonts/icomoon.woff?f3mmmo") format("woff"), url("../fonts/icomoon.svg?f3mmmo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-alarm2:before {
  content: "\e90f"; }

.icon-avatar2:before {
  content: "\e914"; }

.icon-checked2:before {
  content: "\e915"; }

.icon-children-activities2:before {
  content: "\e916"; }

.icon-circle-with-left-arrow2:before {
  content: "\e917"; }

.icon-contact2:before {
  content: "\e918"; }

.icon-domain2:before {
  content: "\e919"; }

.icon-dustbin2:before {
  content: "\e91a"; }

.icon-export2:before {
  content: "\e91b"; }

.icon-filter2:before {
  content: "\e91c"; }

.icon-icon2:before {
  content: "\e91d"; }

.icon-information2:before {
  content: "\e91e"; }

.icon-key2:before {
  content: "\e91f"; }

.icon-link2:before {
  content: "\e920"; }

.icon-logo:before {
  content: "\e921"; }

.icon-reload2:before {
  content: "\e922"; }

.icon-right-arrow2:before {
  content: "\e923"; }

.icon-search2:before {
  content: "\e924"; }

.icon-success2:before {
  content: "\e925"; }

.icon-system-controller2:before {
  content: "\e926"; }

.icon-user2:before {
  content: "\e927"; }

.icon-alarm:before {
  content: "\e900"; }

.icon-avatar:before {
  content: "\e901"; }

.icon-checked:before {
  content: "\e902"; }

.icon-children-activities:before {
  content: "\e903"; }

.icon-circle-with-left-arrow:before {
  content: "\e904"; }

.icon-contact:before {
  content: "\e905"; }

.icon-domain:before {
  content: "\e906"; }

.icon-dustbin:before {
  content: "\e907"; }

.icon-export:before {
  content: "\e908"; }

.icon-filter:before {
  content: "\e909"; }

.icon-icon:before {
  content: "\e90a"; }

.icon-information:before {
  content: "\e90b"; }

.icon-key:before {
  content: "\e90c"; }

.icon-link:before {
  content: "\e90d"; }

.icon-reload:before {
  content: "\e90e"; }

.icon-right-arrow:before {
  content: "\1f5fd"; }

.icon-search:before {
  content: "\e910"; }

.icon-success:before {
  content: "\e911"; }

.icon-system-controller:before {
  content: "\e912"; }

.icon-user:before {
  content: "\e913"; }

.c-check {
  margin-top: 15px;
  color: gray; }
  .c-check input[type="checkbox"] + label {
    padding-left: 30px;
    cursor: pointer; }
  .c-check input[type="checkbox"] {
    display: none; }
  .c-check input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc; }
  .c-check input[type="checkbox"] + label:before {
    content: "\e915";
    position: absolute;
    top: -2px;
    font-family: 'icomoon' !important;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    left: 0px;
    font-size: 12px;
    line-height: 20px;
    background-color: #1e90b3;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .c-check input[type="checkbox"]:checked + label:before {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .c-check input[type="checkbox"]:checked + label:after {
    border: 1px solid transparent; }

.logo {
  width: 140px;
  height: 140px;
  font-size: 60px;
  color: #fff;
  background-color: #1e90b3;
  line-height: 140px;
  text-align: center;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

@media (max-width: 400px) {
  .logo {
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 85px; } }
/*.cover{
    padding:15px;
    position:absolute;
    left:50%;
    top:50%;
    z-index:2;
    @include translate(-50%, -50%);
}*/
@-webkit-keyframes left-inf {
  0% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -moz-transform: translate(-3px, 0);
    -o-transform: translate(-3px, 0);
    -ms-transform: translate(-3px, 0);
    -webkit-transform: translate(-3px, 0);
    transform: translate(-3px, 0); }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes left-inf {
  0% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -moz-transform: translate(-3px, 0);
    -o-transform: translate(-3px, 0);
    -ms-transform: translate(-3px, 0);
    -webkit-transform: translate(-3px, 0);
    transform: translate(-3px, 0); }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes left-inf {
  0% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -moz-transform: translate(-3px, 0);
    -o-transform: translate(-3px, 0);
    -ms-transform: translate(-3px, 0);
    -webkit-transform: translate(-3px, 0);
    transform: translate(-3px, 0); }
  100% {
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
.reload span[class^="icon-"] {
  -webkit-animation: spin 3s infinite steps(538);
  -o-animation: spin 3s infinite steps(538);
  -o-animation: spin 3s infinite steps(538);
  animation: spin 3s infinite steps(538); }

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
#close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  cursor: pointer;
  right: 10px; }
  #close span {
    height: 2px;
    width: 100%;
    background: #fff;
    display: inline-block;
    transform-origin: center; }
    #close span:first-child {
      background: #737373;
      width: 1px;
      height: 25px;
      display: inline-block;
      -moz-transform: rotate(45deg) translate(5px, -5px);
      -o-transform: rotate(45deg) translate(5px, -5px);
      -ms-transform: rotate(45deg) translate(5px, -5px);
      -webkit-transform: rotate(45deg) translate(5px, -5px);
      transform: rotate(45deg) translate(5px, -5px); }
    #close span:last-child {
      background: #737373;
      width: 1px;
      height: 25px;
      display: inline-block;
      -moz-transform: rotate(-45deg) translate(-2px, -1px);
      -o-transform: rotate(-45deg) translate(-2px, -1px);
      -ms-transform: rotate(-45deg) translate(-2px, -1px);
      -webkit-transform: rotate(-45deg) translate(-2px, -1px);
      transform: rotate(-45deg) translate(-2px, -1px); }

.switch {
  position: relative;
  display: inline-block;
  background: #f3f3f3;
  border-radius: 20px;
  padding: 2px; }
  .switch input {
    display: none; }
  .switch label {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    z-index: 1;
    padding: 6px 15px; }
  .switch .switch-selection {
    position: absolute;
    background: #31a4c7;
    top: 0;
    width: 44%;
    border-radius: 20px 0 0 20px;
    height: 100%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .switch input + .switch-female {
    padding-left: 0px; }
  .switch input + label {
    color: #a8a8a8; }
  .switch input:checked + label {
    color: #fff; }
  .switch input:checked + .switch-male ~ .switch-selection {
    left: 0px; }
  .switch input:checked + .switch-female ~ .switch-selection {
    left: 44%;
    border-radius: 0 20px 20px 0;
    width: 56%; }

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.fixed-width {
  width: 350px;
  max-width: 90%; }

.title {
  margin: 15px 0 30px 0; }
  .title h1 {
    font-size: 35px;
    color: #666666; }
  .title p {
    margin-top: 8px;
    font-size: 14px;
    color: #999999;
    font-style: italic; }

.title-n-menu {
  transform-origin: left;
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .title-n-menu.open .menu-icon {
    opacity: 0;
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  .title-n-menu.open .site-title {
    opacity: 0;
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }

.menu-icon {
  width: 30px;
  margin-top: 7px;
  cursor: pointer;
  float: left;
  opacity: 1;
  transform-origin: left;
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .menu-icon.open span:first-child, .menu-icon.open:hover span:first-child {
    -moz-transform: translate(-2px, 2px) rotate(-45deg);
    -o-transform: translate(-2px, 2px) rotate(-45deg);
    -ms-transform: translate(-2px, 2px) rotate(-45deg);
    -webkit-transform: translate(-2px, 2px) rotate(-45deg);
    transform: translate(-2px, 2px) rotate(-45deg);
    width: 60%; }
  .menu-icon.open span:last-child, .menu-icon.open:hover span:last-child {
    -moz-transform: translate(-2px, -2px) rotate(45deg);
    -o-transform: translate(-2px, -2px) rotate(45deg);
    -ms-transform: translate(-2px, -2px) rotate(45deg);
    -webkit-transform: translate(-2px, -2px) rotate(45deg);
    transform: translate(-2px, -2px) rotate(45deg);
    width: 60%; }
  .menu-icon:hover span:first-child {
    -moz-transform: translate(0, 2px);
    -o-transform: translate(0, 2px);
    -ms-transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px);
    transform: translate(0, 2px); }
  .menu-icon:hover span:last-child {
    -moz-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px); }
  .menu-icon span {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #1e90b3;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .menu-icon span:first-child {
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
    .menu-icon span:last-child {
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }

.site-title {
  float: left;
  font-size: 24px;
  color: #666666;
  margin-left: 15px;
  opacity: 1;
  transform-origin: left;
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .site-title h1 {
    margin-top: 3px; }

.site-title.mobile {
  display: none;
  float: none;
  margin-top: 26px; }

@media (max-width: 787px) {
  .title-n-menu.open {
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    position: absolute; } }
@media (max-width: 500px) {
  .title-n-menu .site-title {
    display: none; }

  .site-title.mobile {
    display: block; } }
.notification {
  font-size: 22px;
  margin-top: 5px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  opacity: 1;
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .notification.open {
    opacity: 0;
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  .notification .no {
    position: absolute;
    top: -5px;
    left: 11px;
    font-size: 11px;
    border: 1px solid #fff;
    color: #fff;
    width: 18px;
    height: 18px;
    display: inline-block;
    background: red;
    text-align: center;
    line-height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.notification-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .notification-overlay.open {
    opacity: 1;
    visibility: visible; }
    .notification-overlay.open .notification-board {
      right: 0; }
  .notification-overlay .notification-board {
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 300px;
    z-index: 9;
    background-color: #f7f7f7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .notification-overlay .notification-board .title {
      background: #fff;
      font-size: 18px;
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      padding: 16px;
      color: #666666;
      border-bottom: 1px solid #e6e6e6; }
      .notification-overlay .notification-board .title span {
        font-size: 20px;
        position: relative;
        top: 2px;
        margin-right: 5px; }
    .notification-overlay .notification-board ul li {
      padding: 5px; }
      .notification-overlay .notification-board ul li:before, .notification-overlay .notification-board ul li:after {
        content: " ";
        display: table; }
      .notification-overlay .notification-board ul li:after {
        clear: both; }
      .notification-overlay .notification-board ul li:nth-child(odd) {
        background-color: #ededed; }
      .notification-overlay .notification-board ul li .img {
        float: left;
        width: 50px;
        height: 45px;
        overflow: hidden; }
      .notification-overlay .notification-board ul li .detail {
        overflow: hidden;
        padding-left: 10px;
        margin-top: 7px; }
        .notification-overlay .notification-board ul li .detail h3 {
          font-size: 14px;
          font-weight: bold;
          text-transform: capitalize;
          color: #6b6b6b; }
        .notification-overlay .notification-board ul li .detail p {
          font-size: 12px;
          margin-top: 3px;
          color: #777; }

@media (max-width: 787px) {
  .notification.open {
    opacity: 0;
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); } }
.user-profile-icon {
  margin-top: 2px; }
  .user-profile-icon .user-name {
    margin-top: 7px;
    margin-right: 5px;
    font-size: 14px;
    color: gray;
    opacity: 1;
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .user-profile-icon .user-name.open {
      opacity: 0;
      -moz-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0); }
    .user-profile-icon .user-name b {
      text-transform: uppercase;
      margin-right: 5px;
      font-weight: bold;
      color: #999999; }
  .user-profile-icon .profile-pic {
    background-size: cover;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #cccccc;
    overflow: hidden;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 1;
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .user-profile-icon .profile-pic.open {
      opacity: 0;
      -moz-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -webkit-transform: scale(0, 0);
      transform: scale(0, 0); }

@media (max-width: 787px) {
  .user-profile-icon .user-name {
    display: none; } }
.logout {
  font-size: 22px;
  margin-top: 5px;
  cursor: pointer;
  opacity: 1;
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .logout.open {
    opacity: 0;
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }

@media (max-width: 787px) {
  .logout.open {
    -moz-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }
.main {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .main.open {
    margin-left: 60px; }

.rest:before, .rest:after {
  content: " ";
  display: table; }
.rest:after {
  clear: both; }
.rest .title {
  width: 140px;
  text-align: left;
  float: left;
  font-size: 16px;
  color: gray;
  margin: 11px 0 0; }
.rest .field {
  position: relative;
  overflow: hidden; }

@media (max-width: 787px) {
  .rest .title {
    width: 100%;
    margin: 15px 0 10px;
    float: none;
    font-size: 16px; } }
.filter-options {
  display: none; }
  .filter-options label {
    font-size: 16px;
    color: #8a8a8a;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .filter-options .date-range, .filter-options .response-type, .filter-options .action-type {
    text-align: left; }

@media (max-width: 787px) {
  .filter-options .response-type {
    margin: 25px 0; }
    .filter-options .response-type label {
      margin-bottom: 10px; } }
.main-overlay {
  position: absolute;
  width: 100%;
  height: -webkit-calc(100% - 38px);
  height: -o-calc(100% - 38px);
  height: -moz-calc(100% - 38px);
  height: calc(100% - 38px);
  top: 50px;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .main-overlay.open {
    opacity: 1;
    visibility: visible; }

.date-range input {
  background: #f6f6f6;
  border: none;
  font-size: 18px;
  margin-right: 10px;
  padding: 8px 15px; }

.ui-button .ui-icon {
  position: relative; }
  .ui-button .ui-icon:after {
    content: "\e923";
    position: absolute;
    font-family: 'icomoon' !important; }

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.ui-selectmenu-button.ui-button {
  color: #8c8c8c;
  width: 100%; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover, .ui-button:focus {
  border: 1px solid rgba(197, 197, 197, 0);
  background: #f6f6f6;
  font-size: 18px; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid rgba(197, 197, 197, 0);
  background: #f6f6f6;
  font-size: 18px; }

/*date picker*/
.ui-datepicker .ui-datepicker-header {
  background: #29b1db;
  color: #fff;
  margin: -5px; }

.ui-widget.ui-widget-content {
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 5px 0px #ddd;
  box-shadow: 0px 2px 5px 0px #ddd; }

.ui-state-active, .ui-widget-content .ui-state-active {
  background-color: #29B1DB !important;
  color: #fff !important; }

.ui-datepicker th {
  padding: 1.3em 0.5em;
  font-weight: normal;
  font-size: 16px;
  color: #676767; }

.ui-datepicker td a {
  padding: 0.55em 0.3em; }

.ui-state-default, .ui-widget-content .ui-state-default {
  background-color: transparent;
  text-align: center;
  color: #989898;
  font-size: 15px; }

@media (max-width: 991px) {
  .response-type {
    margin: 10px 0; } }
.title-with-icon {
  color: #666666;
  font-size: 22px;
  margin-bottom: 15px; }
  .title-with-icon span {
    margin-right: 5px; }

.connected-n-profile {
  background-color: #fafafa;
  padding: 0px 30px; }

.box {
  background-color: #fff;
  padding: 15px;
  margin: 30px 0;
  text-align: center;
  -moz-box-shadow: 0px 2px 4px 0px #ddd;
  -webkit-box-shadow: 0px 2px 4px 0px #ddd;
  box-shadow: 0px 2px 4px 0px #ddd; }

.c-row {
  margin-right: -7.5px;
  margin-left: -7.5px; }

.c-gap {
  padding-left: 7.5px;
  padding-right: 7.5px; }

.connected-account {
  padding-bottom: 0; }
  .connected-account h2 {
    font-size: 25px;
    margin: 20px 0 35px;
    color: #737373; }
  .connected-account button {
    height: 55px;
    width: 100%;
    border: none;
    margin-bottom: 15px; }
    .connected-account button span {
      font-size: 30px;
      margin-left: 15px;
      display: inline-block;
      color: #fff; }

@media (max-width: 787px) {
  .connected-n-profile {
    padding: 0px 10px; }
    .connected-n-profile .connected-account h2 {
      font-size: 20px;
      margin: 10px 0 25px; } }
@media (max-width: 1115px) and (min-width: 992px) {
  .connected-account button img {
    max-width: 100px; }
  .connected-account button span {
    font-size: 24px; } }
.dash-profile {
  margin: 30px 0; }
  .dash-profile .img {
    width: 100px;
    height: 100px;
    margin-top: 18px;
    background-size: cover !important;
    float: left;
    background: rebeccapurple;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    border: 2px solid #f2f2f2; }
  .dash-profile .detail {
    overflow: hidden;
    padding: 15px;
    background-color: #fcfcfc;
    border: 1px solid #f2f2f2; }

.pf-table {
  width: 100%;
  max-width: 100%; }
  .pf-table tr td {
    padding: 5px 0;
    font-weight: 300;
    color: gray; }

@media (max-width: 787px) {
  .dash-profile {
    text-align: center; }
    .dash-profile .img {
      display: inline-block;
      float: none;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 10px; } }
.activities-log-setting {
  padding: 0px 30px; }

.activities {
  margin: 30px 0; }

.reponse-code {
  display: inline-block;
  padding: 2px 10px;
  color: #fff;
  border-radius: 10px; }

.success {
  background-color: #4acb6c; }

.error {
  background-color: #fa6f62; }

@media (max-width: 787px) {
  .activities-log-setting {
    padding: 0px 10px; } }
.dash-setting {
  margin: 30px 0; }

.fortnox {
  background-color: #6ec13b; }

.sello {
  background-color: #f54b75; }

.setting {
  padding: 31px;
  text-align: center;
  color: #fff; }
  .setting img {
    margin-bottom: 25px;
    display: inline-block; }
  .setting .status {
    margin-bottom: 8px; }
    .setting .status h3 {
      text-transform: uppercase;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 15px; }
    .setting .status > span {
      background-color: rgba(255, 255, 255, 0.3);
      padding: 5px 15px 8px;
      font-size: 14px;
      display: inline-block;
      margin-bottom: 10px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px; }
      .setting .status > span span[class^="icon-"] {
        margin-left: 7px;
        position: relative;
        top: 2px; }
  .setting a {
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 15px 8px;
    color: #fff;
    display: inline-block;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px; }
    .setting a span[class^="icon-"] {
      margin-left: 7px;
      position: relative;
      top: 2px; }

@media (max-width: 787px) {
  .fortnox {
    margin-bottom: 30px; } }
.activities-options {
  margin-bottom: 10px;
  cursor: pointer;
  float: right; }
  .activities-options ul li {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin: 0 3px;
    float: left;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out; }
    .activities-options ul li:hover {
      color: #1e90b3; }

.c-pagination {
  float: right; }
  .c-pagination:before, .c-pagination:after {
    content: " ";
    display: table; }
  .c-pagination:after {
    clear: both; }
  .c-pagination li {
    width: 30px;
    height: 30px;
    float: left;
    font-size: 13px;
    margin: 0 3px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #29b1db;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .c-pagination li.current {
      background-color: #1a7e9d; }
    .c-pagination li:hover {
      background-color: #1e90b3; }
    .c-pagination li a {
      display: block;
      color: #fff; }
    .c-pagination li.last {
      width: 70px; }

form.search-ani {
  position: absolute;
  z-index: 9;
  background-color: white;
  width: 40%;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  -moz-transform: translate(30px, 0);
  -o-transform: translate(30px, 0);
  -ms-transform: translate(30px, 0);
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  form.search-ani.open {
    opacity: 1;
    visibility: visible;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  form.search-ani input {
    padding: 4px 30px 7px 33px;
    border: 1px solid #e6e6e6;
    width: 100%;
    color: gray;
    font-weight: 300;
    border-radius: 25px; }
    form.search-ani input:focus {
      outline: none; }
  form.search-ani .fa-search {
    position: absolute;
    left: 10px;
    top: 7px;
    color: #a2a2a2; }
  form.search-ani .fa-close {
    position: absolute;
    right: 12px;
    top: 8px;
    color: #b3b3b3;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    form.search-ani .fa-close:hover {
      color: #fa6f62;
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }

@media (max-width: 991px) {
  form.search-ani {
    width: 50%;
    left: 25%; } }
@media (max-width: 787px) {
  form.search-ani {
    width: 60%;
    left: 20%; } }
@media (max-width: 500px) {
  form.search-ani {
    width: 85%;
    left: 7.5%; } }
.l-common {
  font-family: lato;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.38); }

.l-common .btn-round-icon {
  margin-top: 15px; }
.l-common .forget-password {
  color: gray; }

.create-new-user {
  margin: 15px 0 10px; }

@media (max-width: 400px) {
  .l-common {
    padding: 30px 20px; }
    .l-common .title {
      font-size: 25px;
      margin: 20px 0 15px 0; } }
.sign-up {
  font-family: lato;
  background-color: #fff;
  text-align: center;
  width: 800px;
  max-width: 90%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.38); }
  .sign-up .logo {
    width: 100px;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
    margin-bottom: 30px;
    border: 1px solid #fff; }
  .sign-up .info-section {
    background-color: #1e90b3;
    padding: 114px 30px;
    font-weight: 300;
    color: #fff;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .sign-up .info-section .discription {
      text-align: left; }
  .sign-up .sign-up-form {
    padding: 30px 20px; }

@media (max-width: 991px) {
  .su-bg {
    text-align: center;
    padding: 30px 0;
    height: initial; }

  .sign-up {
    position: relative;
    left: inherit;
    top: inherit;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: inline-block; }
    .sign-up .info-section {
      padding: 50px 30px;
      -moz-border-radius-topleft: 0;
      -webkit-border-top-left-radius: 0;
      border-top-left-radius: 0;
      -moz-border-radius-bottomleft: 0;
      -webkit-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0; } }
.top-header {
  background-color: #fff;
  padding: 10px 30px;
  position: relative; }

@media (max-width: 787px) {
  .top-header {
    padding: 10px 15px; } }
body {
  background-color: #F2F2F2;
  font-family: lato; }

@media (max-width: 787px) {
  body, .connected-n-profile {
    background-color: #F7F0F0; } }

/*# sourceMappingURL=main.css.map */
