<div>
    <div class="main-overlay"></div>
    <div class="notification-overlay">
        <div class="notification-board">

            <div class="title">
                <h2> <span class="icon-alarm"></span> Notification</h2>

                <div id="close">
                    <span></span>
                    <span></span>
                </div>
            </div>

            <ul>
                <li>
                    <div class="img">
                        <img src="assets/img/user.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="detail">
                        <h3>this is title</h3>
                        <p>sadlfklajsldfkjalsdkfja</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="assets/img/user.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="detail">
                        <h3>this is title</h3>
                        <p>sadlfklajsldfkjalsdkfja</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="assets/img/user.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="detail">
                        <h3>this is title</h3>
                        <p>sadlfklajsldfkjalsdkfja</p>
                    </div>
                </li>
                <li>
                    <div class="img">
                        <img src="assets/img/user.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="detail">
                        <h3>this is title</h3>
                        <p>sadlfklajsldfkjalsdkfja</p>
                    </div>
                </li>
            </ul>

        </div><!-- /.notification-board -->
    </div><!-- /.background-wrapper -->
    
    <div class="top-header clearfix text-center">
        <form class="search-ani">
            <span class="fa fa-search"></span>
            <input type="text" name="search" placeholder="search"/>
            <i class="fa fa-close"></i>
        </form>

        <div class="title-n-menu pull-left">
            <div class="menu-icon open">
                <span></span>
                <span></span>
                <span></span>
            </div><!-- /.menu-icon -->

            <div class="site-title">
                <h1 ng-bind="gscope.pageHeading"></h1>
            </div><!-- /.site-title -->
        </div>
        
        <img class="sello-to-fortnox-logo img-responsive" src="/eaglejoiner/sello2fortnox/assets/img/logo.png" alt=""/>
        
        <div class="user-options pull-right">
            <div class="user-profile-icon pull-left">
                <span ng-if="!gscope.user.firstName" class="pull-left user-name"><b>Welcome</b> 
                    {{ gscope.user.name | capitalize }}</span>
                <span ng-if="gscope.user.firstName" class="pull-left user-name"><b>Welcome</b> 
                    {{ gscope.user.firstName | capitalize }}</span>
                <a href="#/profile">
                    <span ng-if="!gscope.user.profilePic" class="profile-pic pull-left"
                          tooltip-placement="bottom"
                          uib-tooltip="Edit Profile"
                          style="background-image: url('assets/img/user.jpg')">
                    </span>

                    <span ng-if="gscope.user.profilePic" class="profile-pic pull-left"
                          tooltip-placement="bottom"
                          uib-tooltip="Edit Profile"
                          style="background-image: url('{{gscope.user.profilePic}}')">
                    </span>
                </a>
            </div><!-- /.user-profile -->

            <!-- SEARCH -->
<!--            <div class="search pull-left">
   
                <span class="search-icon pull-left">
                    <span class="circle"></span>
                    <span class="line"></span>
                </span>
            </div> /.search -->

<!--            <div class="notification pull-left" id="notification-icon" data-toggle="tooltip" data-placement="bottom" title="notification">
                <span><span class="icon-alarm"></span><span class="no">5</span></span>
            </div> /.notification -->

            <div ng-click="logout()" class="logout pull-left" tooltip-placement="bottom" uib-tooltip="logout" data-placement="bottom">
                <span class="icon-power-button"></span>
            </div><!-- /.logout -->
        </div><!-- /.user option -->

    </div><!-- /.top header -->
</div>