<side-menu></side-menu>

<main class="main open" id="main-content">

    <top-header></top-header>

    <!-- ACTIVITIES LOG AND SETTING -->
    <div class="activities-log-setting">

        <div data-subscribtion-notification>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="site-title mobile text-center">
                    <h1 ng-bind="gscope.pageHeading"></h1>
                </div><!-- /.site-title -->
            </div>

            <div class="col-md-12">
                <div class="activities clearfix">
                <div>
                    <!-- ACTIVITIES OPTIONS -->
                    <div class="activities-options clearfix">
                        <ul>
                            <!-- <li tooltip-placement="bottom" uib-tooltip="Search" data-placement="bottom"><span class="icon-search"></span></li> -->
                            <li tooltip-placement="bottom" 
                                uib-tooltip="Refresh"
                                data-placement="bottom">
                                <span class="icon-reload " 
                                      ng-class="{'fa fa-spin' : uiState.isGettingLog}" 
                                      ng-click="refresh()"></span>
                            </li>

                            <li id="filer-icon" 
                                ng-class="{ 'filtering' : uiState.isFiltering }"
                                tooltip-placement="bottom" 
                                uib-tooltip="Filter" 
                                data-placement="bottom">
                                <span class="icon-filter"></span>
                            </li>
                            <li ng-csv="allLog" 
                                id="export"
                                class="hidden"
                                filename="sello2frotnox-activity.csv" 
                                field-separator="," 
                                decimal-separator=".">
                            </li>
                            <li 
                                ng-click = "export($event)"
                                tooltip-placement="bottom" 
                                uib-tooltip="Export" 
                                data-placement="bottom">
                                <span class="icon-export"></span></li>

                            <li ng-click="deleteChecked()" 
                                tooltip-placement="bottom" 
                                uib-tooltip="Clear Log" 
                                data-placement="bottom">
                                <span class="icon-children-activities"></span>
                            </li>
                        </ul>
                    </div><!-- /activities-options -->

                    <div class="clearfix"></div>
                    <div class="filter-options ">
                        <h3 class="text-left title-with-icon">
                            <span class="icon-filter"></span>
                            Filter 
                            <!-- <i ng-if="uiState.isGettingLog" class="fa fa-spinner fa-pulse fa-32x fa-fw"></i> -->
                        </h3>
                        <div class="box clearfix">
                            <div class="c-row">
                                <div class="col-md-6 c-gap">
                                    <div class="date-range">
                                        <label>date range</label>
                                        <form>
                                            <div class="c-row">
                                                <div class="col-md-6 c-gap">
                                                    <div class="form-group">
                                                        <input type="text" 
                                                               ng-model="logFilter.lt_date"
                                                               my-datepicker 
                                                               id="datepicker-from" 
                                                               placeholder="From"
                                                               readonly 
                                                               class="form-contorl">
                                                        <span class="fa fa-calendar"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 c-gap">
                                                    <div class="form-group">
                                                        <input type="text" 
                                                               ng-model="logFilter.gt_date" 
                                                               my-datepicker 
                                                               id="datepicker-to" 
                                                               placeholder="To" 
                                                               readonly 
                                                               class="form-contorl">
                                                        <span class="fa fa-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.date-range -->
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.c-row -->

                            <div class="col-md-3 c-gap">
                                <div class="response-type">
                                    <div  class="response-type">
                                        <label>Response Type</label>

                                        <!-- <select 
                                            ng-model="logFilter.response_code"
                                            selectmenu
                                            id="response-type">
                                            <option value="All">All</option>
                                            <option value="200">200</option>
                                            <option value="201">201</option>
                                            <option value="400">400</option>
                                            <option value="401">401</option>
                                            <option value="404">404</option>
                                            <option value="500">500</option>
                                        </select> -->

                                        <select 
                                            ng-model="logFilter.response_code"
                                            selectmenu
                                            id="response-type">
                                            <option value="">All</option>
                                            <option ng-repeat="r in responseCode" 
                                                ng-selected="r == logFilter.response_code" value="{{r}}">{{r}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- /.col-md-3 -->

                            <div class="col-md-3 c-gap">
                                <div  class="action-type">
                                    <label>action type</label>
                                    <!-- <select 
                                        ng-model="logFilter.activity_type"
                                        selectmenu
                                        
                                        id="action-type">
                                        <option value=""> All </option>
                                        <option value="orderUpdate"> Order Update </option>
                                        <option value="orderNew">Order New</option>
                                        <option value="itemCreate">Item Create</option>
                                        <option value="priceCreate">Price Create</option>
                                        <option value="orderCancel">Order Cancel</option>
                                        <option value="creditInvoice">Credit Invoice</option>
                                        <option value="newInvoice">New Invoice</option>
                                    </select> -->

                                    <select 
                                        ng-model="logFilter.activity_type"
                                        selectmenu
                                        id="action-type">
                                        <option value=""> All </option>
                                        <option ng-repeat="a in activityType" ng-selected="a == logFilter.activity_type" 
                                        value="{{a}}">{{a | lowercase}}</option>
                                    </select>
                                </div>
                            </div><!-- /.col-md-3 -->
                            <div class="clearfix"></div>
                            
                        <button ng-click="clearDateFilter()" class="btn-round-view pull-left">Clear Date</button>
                        </div><!-- /.box -->
                    </div><!-- /.filter-options -->
                </div>
                    <table class="table activities-table">
                        <thead>
                            <tr>
                                <th ng-click="checkAll()">Id</th>
                                <th>Activities</th>
                                <th>Created</th>
                                <th>Response Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-dir-paginate = "l in log | itemsPerPage: paginate.itemsPerPage" 
                                current-page="paginate.currentPage" total-items="paginate.totalRows">
                                <td>
                                    <!--<input type="checkbox" checklist-model="uiState.checkedLogs" checklist-value="l.id">--> 
                                    {{ paginate.itemsPerPage * (paginate.currentPage - 1) + $index + 1}}
                                </td>
                                <td ng-bind="l.activity_type"></td>
                                <td ng-bind="l.created_date"></td>
                                <td><span class="reponse-code" ng-class="{ 'success': l.response_code == 200, 'error': l.response_code != 200 }" ng-bind="l.response_code"></span></td>
                            </tr>
                            <tr ng-if="log.length == 0">
                                <td colspan="4">No Record found.</td>
                            </tr>
                        </tbody>
                    </table>

                    <dir-pagination-controls on-page-change="getLogs(newPageNumber)"></dir-pagination-controls>

                </div><!-- /.activities -->
            </div><!-- /.col-md-6 -->

        </div><!-- /.row -->
    </div><!-- /.activities-log-setting -->

</main><!-- /.main -->