.date-range input{
    background: #f6f6f6;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    padding: 8px 15px; 
    
    &:focus{
        outline:none;
    }
}


.ui-button {
    .ui-icon{
        position:relative;

        &:after{
            content:"\e923";
            position:absolute;
            font-family: 'icomoon' !important;
        }
    }
}

.ui-corner-all, 
.ui-corner-top, 
.ui-corner-right, 
.ui-corner-tr{
    @include border-radius(0);
}

.ui-selectmenu-button.ui-button
{
    color: #8c8c8c;
    width: 100%;
}

.ui-state-hover, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, 
.ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus, 
.ui-button:hover, .ui-button:focus{
    border: 1px solid rgba(197, 197, 197, 0);
    background: #f6f6f6;
    font-size: 18px;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active{
    border: 1px solid rgba(197, 197, 197, 0);
    background: #f6f6f6;
    font-size: 18px;
}




/*date picker*/
.ui-datepicker {
    .ui-datepicker-header{
        background: #29b1db;
        color: #fff;
        margin: -5px;

    }
}
.ui-widget.ui-widget-content{
    border:1px solid transparent;
    -webkit-box-shadow: 0px 2px 5px 0px #ddd;
    box-shadow: 0px 2px 5px 0px #ddd;
}
.ui-state-active, .ui-widget-content .ui-state-active{
    background-color:#29B1DB !important;
    color: #fff !important;
}
.ui-datepicker th{
    padding: 1.3em 0.5em;
    font-weight: normal;
    font-size: 16px;
    color: #676767;
}
.ui-datepicker td a{
    padding: 0.55em 0.3em;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    background-color: transparent;
    text-align: center;
    color: #989898;
    font-size: 15px;
}


@include media(sm){
    .response-type{
        margin: 10px 0;
    }
}