.sign-up{
    font-family: lato;
    background-color:$white;
    text-align: center;
    width:800px;
    max-width: 90%;
    @include border-radius(5px);
    @include box-shadow( 0px 3px 9px 0px rgba(0, 0, 0, 0.38));

    .logo{
        width: 100px;
        height: 100px;
        font-size: 50px;
        line-height: 100px;
        margin-bottom: 30px;
        border: 1px solid $white;
    }

    .info-section{
        background-color:$primary-color;
        padding: 114px 30px;
        font-weight: 300;
        color:$white;
        @include border-top-left-radius(5px);
        @include border-bottom-left-radius(5px);

        .discription{
            text-align: left;
        }
    }

    .sign-up-form{
        padding:30px 20px;
    }
}

@include media(sm){
    .su-bg{
        text-align: center;
        padding:30px 0;
        height:initial;
    }
    .sign-up{
        position: relative;
        left: inherit;
        top: inherit;
        @include translate(0,0);
        display: inline-block;

        .info-section{
            padding: 50px 30px;
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);
        }
    }
}