.l-common{
    font-family: lato;
    background-color:$white;
    padding:30px;
    text-align: center;
    @include border-radius(5px);
    @include box-shadow( 0px 3px 9px 0px rgba(0, 0, 0, 0.38));
}

.l-common{
    .btn-round-icon{
        margin-top: 15px;
    }
    .forget-password{
        color:lighten($black,50%);
    }
}

.create-new-user{
    margin: 15px 0 10px;
}

@include media(mb){
    .l-common{
        padding: 30px 20px;

        .title{
            font-size: 25px;
            margin: 20px 0 15px 0;
        }
    }
}