.activities-log-setting{
    padding: 0px 30px;
}

.activities{
    margin:30px 0;
}
.reponse-code{
    display: inline-block;
    padding: 2px 10px;
    color: #fff;
    border-radius: 10px;
}

.success{
    background-color:$success;
}
.error{
    background-color: $error;
}

@include media(xs){
    .activities-log-setting{
        padding: 0px 10px;
    }
}