@include keyframes( left-inf ){
    0%{
        @include translate(0, 0);   
    }
    50%{
        @include translate(-3px, 0);
    }
    100%{
        @include translate(0,0);
    } 
}

.reload{
    span[class^="icon-"]{
        @include animation( spin 3s infinite steps(538));
    }
}
.rotate{
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
    @include animation( spin 3s infinite steps(538));
}
@include keyframes(spin) {
    0% {
        @include rotate(0);
    }
    100% {
        @include rotate(359);
    }
}

@include keyframes (sidebar-loading) {
    from {
        left: 50%;
        width: 0;
        z-index: 100
    }
    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10
    }
    to {
        left: 0;
        width: 100%
    }
}
