.background{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    position:relative;
    width:100vw;
    height:100vh;

    &:after{
        content:"";
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:1;
        background-color:rgba($primary-color, 0.15);
    }
}

@include media(mb){
    .background{
        padding:20px 0;
        text-align: center;
    }
}