
.custom-button {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    height: 46px;
    line-height: 46px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    margin: 15px auto 0px;
    outline: 0;
    background-color: $primary-color;
    &:hover { background-color: lighten($primary-color, 10%); }
}

.custom-import {
    cursor: pointer;
    border: 2px solid #bdbdbd;
    background-color: transparent;
    color: #b7b7b7;
    line-height: 42px;
    
    &:hover{
        background-color: transparent;
    }
    position:initial;

    .label-file {
        width: 300px;
        display: block;
        font-family: Arial, sans-serif;
        font-size: 12px;
        text-align: center;
        padding: 0 3%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    i{
        margin-left: 10px;
        font-size: 25px;
        position: relative;
        top: 4px;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0); 
    }
}