.pagination{
    float:right;
    @include clearfix();
    li{
        width:30px;
        height:30px;
        float:left;
        font-size: 13px;
        margin:0 3px;
        text-align: center;
        line-height: 30px;
        color:$white;
        background-color:lighten($primary-color, 10%);
        @include border-radius(20px);
        @include transition( all 0.3s ease-in-out );

        &.disabled{
            background: lighten($black, 80%);
            @include transition(all 0.5s ease-in-out);
            &:hover{
                 background: lighten($black, 85%);
            }
            a{
                cursor: no-drop;
            }
        }
        &.active{
            background-color:darken($primary-color, 5%);
        }
        &:hover{
            background-color:$primary-color;
        }
        a{
            display: block;
            color:$white;

        }
        &.last{
            width:70px;
        }
    }
}