#close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    cursor:pointer;
    right: 10px; 
    span{
        height: 2px;
        width: 100%;
        background: #fff;
        display: inline-block;
        transform-origin: center;

        &:first-child{
            background: #737373;
            width: 1px;
            height: 25px;
            display: inline-block;
            @include transform (rotate(45deg) translate(5px,-5px));
        }
        &:last-child{
            background: #737373;
            width: 1px;
            height: 25px;
            display: inline-block;
             @include transform (rotate(-45deg) translate(-2px,-1px));
        }
    }
}