.connected-n-profile {
    background-color:lighten($black, 98%);
    padding: 0px 30px;
}

.box{
    position:relative;
    background-color:$white;
    padding:15px;
    margin:30px 0;
    text-align: center;
    @include box-shadow(0px 2px 4px 0px #ddd);
}

.c-row{
    margin-right:-7.5px;
    margin-left:-7.5px;
}
.c-gap{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.connected-account{
    padding-bottom:0;
    h2{
        font-size: 25px;
        margin: 20px 0 35px;
        color:lighten($black, 45%);
    }

    button{
        height: 55px;
        width: 100%;
        border: none;
        margin-bottom:15px;

        span{
            font-size: 30px;
            margin-left: 15px;
            display: inline-block;
            color:$white;
        }
    }


}

@include media(xs){
    .connected-n-profile {
        padding: 0px 10px;

        .connected-account{
            h2{
                font-size:20px;
                margin: 10px 0 25px;
            }
        }
    }

}

@media (max-width: 1115px)and(min-width:992px){
    .connected-account{
        button{
            img{
                max-width: 100px;
            }
            span{
                font-size:24px;
            }
        }
    }
}