.switch {
    position: relative;
    display:inline-block;
    background: #f3f3f3;
    border-radius: 20px;
    padding:2px;
   //-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    //box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    
    input{
        display:none;
    }
    
    label{
        position:relative;
        display:inline-block;
        text-align:center;
        color:#fff;
        font-size: 13px;
        cursor:pointer;
        z-index:1;
        padding:6px 15px;
    }
    
    .switch-selection{
        position:absolute;
        background:#31a4c7;
        top:0;
        width:44%;
        border-radius:20px 0 0 20px;
        height:100%;
        @include transition(all 0.2s linear);
    }
    
    input + .switch-female{
        padding-left:0px;
    }
    
    input + label{
        color: #a8a8a8;;
    }
    
    input:checked + label{
        color:#fff;
    }
    
    input:checked + .switch-male ~ .switch-selection {
        left: 0px;
    }
    
    input:checked + .switch-female ~ .switch-selection {
        left: 44%;
        border-radius:0 20px 20px 0;
        width:56%;
    }
    
}
