@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?f3mmmo');
    src:    url('../fonts/icomoon.eot?f3mmmo#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?f3mmmo') format('truetype'),
        url('../fonts/icomoon.woff?f3mmmo') format('woff'),
        url('../fonts/icomoon.svg?f3mmmo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e903";
}
.icon-children-activities:before {
  content: "\e904";
}
.icon-circle-with-left-arrow:before {
  content: "\e905";
}
.icon-contact:before {
  content: "\e906";
}
.icon-domain:before {
  content: "\e907";
}
.icon-dustbin:before {
  content: "\e908";
}
.icon-export:before {
  content: "\e909";
}
.icon-filter:before {
  content: "\e90a";
}
.icon-icon:before {
  content: "\e90b";
}
.icon-information:before {
  content: "\e90c";
}
.icon-key:before {
  content: "\e90d";
}
.icon-link:before {
  content: "\e90e";
}
.icon-logo:before {
  content: "\e910";
}
.icon-power-button:before {
  content: "\e911";
}
.icon-reload:before {
  content: "\e912";
}
.icon-right-arrow:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e91a";
}
.icon-success:before {
  content: "\e91b";
}
.icon-system-controller:before {
  content: "\e91c";
}
.icon-user:before {
  content: "\e91d";
}
.icon-lock:before {
  content: "\e900";
}
.icon-alarm2:before {
  content: "\e90f";
}
.icon-avatar2:before {
  content: "\e914";
}
.icon-checked2:before {
  content: "\e915";
}
.icon-children-activities2:before {
  content: "\e916";
}
.icon-circle-with-left-arrow2:before {
  content: "\e917";
}
.icon-contact2:before {
  content: "\e918";
}
.icon-domain2:before {
  content: "\e919";
}
.icon-right-arrow2:before {
  content: "\e923";
}
