
.form-group{
    position:relative;
    margin-bottom:3px;

    > label{
        display: block;
        margin-top: 15px;
        margin-bottom: 8px;
        font-weight: normal;
        color: #9a9a9a;
    }

    span{
        position: absolute;
        right: 10px;
        top: 13px;
        font-size: 17px;
        color:lighten($black, 50%);
    }
}

.form-control{
    font-size: 16px;
    border: 1px solid lighten($black, 90%);
    padding: 12px 40px 12px 12px;
    width: 100%;
    font-size:14px;
    font-style: italic;
    box-sizing: border-box;
    @include transition( all 0.3s ease-in-out );

    &.first{
        @include border-top-left-radius(5px);
        @include border-top-right-radius(5px);
    }
    &.last{
        @include border-bottom-left-radius(5px);
        @include border-bottom-right-radius(5px);
    }
    
    &.ng-invalid.ng-dirty, &.ng-invalid.ng-dirty:focus{ 
        border-color: $error;
        color: $error;
        + .icon{
            color:$error;
        }
    }

    &.ng-valid, &.ng-valid:focus{ 
        border-color: $success; 
        color: $success;
        + .icon{
            color:$success;
        }
    }

    &:focus{
        outline: none;
        border-color: lighten($primary-color, 10%);

        + .icon{
            color:lighten($primary-color, 10%);
        }
    }
    + .icon{
        @include transition( all 0.3s ease-in-out );
    }
}

.ng-submitted{ 
    .form-control{
        &.ng-invalid, &.ng-invalid:focus{ 
            border-color: $error;
            color: $error;
            + .icon{
                color:$error;
            }
        }
    }
}

.form-group{
    span.fa{
        top: 10px;
    }
} 

