#loader{
    position: absolute;
    left:50%;
    top:50%;
    text-align: center;
    @include translate(-50%, -50%);
    z-index:9999;
}


.sidebar-load-bar {
    position: fixed;
    width: 100%;
    height: 4px;
    background-color: #fff;
    top: 50px;
    z-index: 50;
}

.sidebar-load-bar-small { 
    height: 4px; 

    .sidebar-bar{
        content: "";
        display: inline;
        position: fixed;
        width: 0;
        height: 4px;
        left: 50%;
        text-align: center;
        top: 50px;

        &:nth-child(1){
            background-color: #FFC400;
            @include animation( sidebar-loading 3s linear infinite);
        }
        &:nth-child(2){
            background-color: #fff;
            @include animation(sidebar-loading 3s linear 1s infinite);
        }
        &:nth-child(3){
            background-color: #FFC400;
            @include animation(sidebar-loading 3s linear 2s infinite);
        }
    }
}

.full-cover{
    background-color:rgba($black, 0.6);
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    top:0;
    z-index:9999;

    #loader{
        z-index: 99999;
        .message{
            color: #fff;
            text-transform: capitalize;
            margin-top: 10px;
            font-size: 16px;
        }
    }
}

