.logout{
    font-size: 22px;
    margin-top: 5px;
    margin-left: 15px;
    cursor: pointer;
    opacity:1;
    @include scale(1,1);
    @include transition(all 0.2s ease-in-out);

    &.open{
        opacity:0;
        @include scale(0,0);
    }
}

@include media(xs){
    .logout{
        &.open{
            @include scale(0,0);
            opacity:0;
        }
    } 
}

