.main-overlay{
    position: fixed;
    width: 100%;
    height: -webkit-calc(100% - 38px);
    height: -o-calc(100% - 38px);
    height: -moz-calc(100% - 38px);
    height: calc(100% - 38px);
    top: 50px;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,0.2);
    z-index: 99;
    @include transition( all 1s ease-in-out );
    
    &.open{
        opacity: 1;
        visibility: visible;
    }
    
}