.side-menu{
    width: 60px;
    position: fixed;
    left: -60px;
    top: 0;
    z-index: 999;  
    bottom: 0;
    background: $white;
    background-color:$primary-color;
    @include transition( all 0.2s ease-in-out );

    &.open{ 
        left: 0;

        ul{
            li{
                &.active{
                    a{
                        &:before{
                            left: 100%;
                        }
                    }
                }

            }
        }
    }

    .logo-c{
        font-size: 30px;
        width: 100%;
        height: 51px;
        line-height: 53px;
        background: darken($primary-color, 4%);
        text-align: center;
        color: #fff;
        padding-top: 5px;
    }

    ul{
        li{
            &.active{
                a{
                    position:relative;
                    background-color:lighten($primary-color, 5%);

                    &:before{
                        content: "";
                        position: absolute;
                        left: 70%;
                        top: 19px;
                        width: 0;
                        height: 0;
                        border-top: 8px solid transparent;
                        border-left: 16px solid #22a2c9;
                        border-bottom: 8px solid transparent;
                        @include transition( all 0.4s ease-in-out );
                    }
                }
            }
            a{
                display: inline-block;
                text-align:center;
                width: 100%;
                font-size: 22px;
                height: 51px;
                line-height: 53px;
                color:$white;
                @include transition( all 0.2s ease-in-out );
            }
        }
    }
}

@include media(xs){
    .side-menu.open {
        ul{
            li.active {
                a:before{
                    left: 90%;
                }
            }
        }
    }
}