// notification 
.notification{
    font-size: 22px;
    margin-top: 5px;
    cursor: pointer;
    margin-right: 10px;
    position:relative;
    opacity: 1;
    @include scale(1,1);
    @include transition(all 0.2s ease-in-out);

    &.open{
        opacity: 0;
        @include scale(0,0);
    }
    .no{
        position: absolute;
        top: -5px;
        left: 11px;
        font-size: 11px;
        border:1px solid $white;
        color: #fff;
        width: 18px;
        height: 18px;
        display: inline-block;
        background: red;
        text-align: center;
        line-height: 16px;
        @include border-radius(50%);
    }
}

// notification board
.notification-overlay{
    background-color:rgba($black, 0.6);
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    top:0;
    z-index:10;
    opacity: 0;
    visibility: hidden;
    @include transition( all 0.3s ease-in-out );

    &.open{
        opacity: 1;
        visibility: visible;

        .notification-board{
            right:0;
        }
    }

    .notification-board{
        position: fixed;
        top: 0;
        right: -300px;
        bottom: 0;
        width: 300px;
        z-index: 9;
        background-color: lighten($black,97%);
        @include transition( all 0.3s ease-in-out );

        .title{
            background: $white;
            font-size: 18px;
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            padding: 16px;
            color:lighten($black,40%);
            border-bottom:1px solid lighten($black,90%);

            span{
                font-size: 20px;
                position: relative;
                top: 2px;
                margin-right: 5px;
            }
        }

        ul{
            li{
                padding: 5px;
                @include clearfix();

                &:nth-child(odd){
                    background-color: lighten($black, 93%);
                }

                .img{
                    float: left;
                    width: 50px;
                    height: 45px;
                    overflow: hidden;
                }
                .detail{
                    overflow: hidden;
                    padding-left: 10px;
                    margin-top: 7px;

                    h3{
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: capitalize;
                        color: #6b6b6b;
                    }
                    p{
                        font-size: 12px;
                        margin-top: 3px;
                        color: #777;
                    }
                }
            }

        }
    }
}

@include media(xs){
    .notification{
        &.open{
            opacity:0;
            @include scale(0,0);
        }
    }
}