.popover{
    width:300px;
    max-width: 300px;
    padding:0;
    border:none;
    &.left{
        >.arrow{
            border-left-color:transparent;
        }
    }
    h3{
        color: #fff;
        background-color: #1e90b3; 
    }
    .popover-content{
        color: #a2a2a2; 
    }
}  