.search{
    margin: 0 10px;
    border-left: 1px solid #cacaca;
    padding-left: 11px;
    margin-top: 3px;
    position:relative;
    right:0;
    opacity: 1;
    @include scale(1,1);
    @include transition( all 0.3s ease-in-out );

    &.open{
        opacity: 0;
        @include scale(0,0);
        /*        padding-left:0;
                border-color:transparent;*/

        /*        form{
                    width: 180px;
                    overflow: hidden;
                    opacity: 1;
                }*/

        /*        .search-icon{
                    .circle{
                        border-radius: 0;
                        width: 1px;
                        height: 20px;
                        border: none;
                        background-color:lighten($black, 50%);
                        @include transform(translate(9px, 0px) rotate(45deg));
                    }
                    .line{
                        height: 20px;
                        @include transform(translate(-6px , -15px) rotate(-45deg)); 
                    }
                }*/
    }

    form{
        width: 0px;
        opacity:0;
        padding:1px 0;
        overflow: hidden;
        @include transition( opacity 0.2s ease-in-out, width 0.3s ease-in-out );

        input{
            font-size: 14px;
            padding: 5px 10px;
            border: none;
            background: lighten($black, 90%);
            @include border-radius(15px);

            &:focus{
                outline: none;
            }
        }
    }

    .search-icon{
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        padding-bottom: 20px;
        padding-top: 0px;
        padding-left: 5px;
        margin-top: 3px;
        z-index: 9;

        &:hover{
            .circle{
                border-color:$primary-color;
            }
            .line{
                background-color:$primary-color;
            }
        }
        .circle{
            width: 17px;
            height: 17px;
            display: inline-block;
            background-color:$white;
            position: relative;
            z-index: 9;
            border: 1px solid lighten($black, 50%);
            @include border-radius(50%);
            @include transition( height 0.3s ease-in-out );
        }
        .line{
            width:1px;
            height:6px;
            display: inline-block;
            background-color:lighten($black, 50%);
            position: absolute;
            right: -1px;
            top: 15px; 
            @include rotate(-42);
            @include transition( all 0.3s ease-in-out );
        }
    }
}


@include media(xs){

    .search{

        &.open{
            position: relative;
            right: -65px;
        }
        form{
            @include transition( opacity 0.1s ease-in-out, width 0s ease-in-out );
        }
    }
}

@include media(ls){
    .search 
    {
        margin: 2px 5px 0 13px;
        padding-left: 5px;

        &.open{
            .search-icon{
                .circle{
                    @include transform(translate(11px, 2px) rotate(45deg));
                }
            }
        }
        .search-icon {

            width: 35px;
            height: 25px;
            padding-top: 2px;
            padding-left: 8px;

            .circle {
                width: 20px;
                height: 20px;
            }
            .line {
                right: 8px;
                top: 18px;
            }
        }
    }
}
