form.search-ani{
    position: absolute;
    z-index: 9;
    background-color: white;
    width: 40%;
    left: 30%;
    opacity: 0;
    visibility: hidden;
    @include translate(30px, 0);
    @include transition( all 0.5s ease-in-out );

    &.open{
        opacity: 1;
        visibility: visible;
        @include translate(0, 0);
    }

    input{
        padding: 4px 30px 7px 33px;
        border: 1px solid #e6e6e6;
        width: 100%;
        color:lighten($black, 50%);
        font-weight:300;
        border-radius: 25px;

        &:focus{
            outline: none;
        }
    }
    .fa-search{
        position: absolute;
        left: 10px;
        top: 7px;
        color:#a2a2a2;
    }
    .fa-close{
        position: absolute;
        right: 12px;
        top: 8px;
        color: lighten($black, 70%);
        cursor: pointer;
        @include transition( all 0.3s ease-in-out );

        &:hover{
            color:$error;
            @include rotate(-90);
        }
    }
}

@include media(sm){
    form.search-ani{
        width: 50%;
        left: 25%;
    }
}
@include media(xs){
    form.search-ani{
        width: 60%;
        left: 20%;
    }
}

@include media(ls){
     form.search-ani{
        width: 85%;
        left: 7.5%;
    }
}