.page-notification-wrapper{
    margin-top: 15px;
}

.subscribe-notification{
    background: #ffae3c;
    margin-top: 5px;
    margin-bottom: -15px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 8px 8px 8px 15px;
    text-align: center;
    @include clearfix();

    &.note-info{
        background-color:#37b4da;
        .message{
            &:after{
                content:'\f05a';
            }
        }
    }

    .message{
        overflow: hidden;
        line-height: 18px;
        padding-bottom: 10px;
        text-align: left;
        position:relative;
        padding-left:40px;

        &:after{
            content:'\f071';
            position:absolute;
            color:#fff;
            top:-webkit-calc(50% - 12px);
            top:0;
            left:0;
            font: normal normal normal 24px/1 FontAwesome;
        }
    }

    .btn-sub{
        width: 100px;
        float: right;

        .btn-border {
            margin-top: 0px;
        }
    }
}
