.activities-table{
    margin-bottom: 15px;
    margin-top: 10px;

    thead{
        background-color:lighten($primary-color, 10%);
        color:$white;

        tr{
            th{
                border-bottom: 2px solid #F4F4F4;
                text-align:center;
            }
        }
    }
    tbody{
        tr{
            td{
                text-align:center;
                font-size:13px;
                color:lighten($black, 50%);
                background-color:$white;
                border-bottom: 2px solid #F4F4F4;
            }
        }
    }
}

@include media(xs){
    .activities-table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative;


        thead{
            display: block;
            float: left;

            tr{
                display: block;

                th{
                    display: block;
                    text-align: center;
                }
            }
        }

        tbody{
            display: block;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;

            tr{
                display: inline-block;
                vertical-align: top;

                td{
                    background-color: #fff;
                    display: block;
                    font-size: 14px;
                    border-top:none;
                    padding: 9px 15px;
                    min-height: 1.25em; 
                    text-align: center;   
                    margin: 0;
                    vertical-align: top;

                }
            }
        }
    }
}
