.title{
    margin: 25px 0 20px 0;

    h1{
        font-size: 25px;
        color: lighten($black, 40%);
    }
    p{
        margin-top: 8px;
        font-size:14px;
        color:lighten($black, 60%);
        font-style: italic;
    }
}