
#documenter_content .verb{
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
}

#documenter_content .verb.primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

#documenter_content .verb.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#documenter_content .verb.info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

#documenter_content .verb.warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

#documenter_content .verb.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}


#documenter_content table td.verb-wrapper {
  padding: 10px 0;
  margin: 0;
}