.profile-page{
    .box{
        margin:0px;   
        &.password-box{
            display: none;
        }
    }
    label{
        font-size: 18px;
        display: block;
        color: #7b7b7b;
        margin-bottom: 11px;
        font-weight: bold;

        button{
            background-color:transparent;
            border:none;
            cursor:pointer
        }
        .fa{
            width: 25px;
            height: 25px;
            background: $primary-color;
            text-align: center;
            cursor:pointer;
            font-size: 14px;
            color: $white;
            border-radius: 50%;
            line-height: 25px;
            margin-left: 10px;
            cursor: pointer; 
            @include transition(all 0.3s);

            &.open{
                @include rotate(-180);
            }
        }
    }

}

// profile info
.profile-info{
    text-align: center;

    .img{

        width: 150px;
        height: 150px;
        background: white;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        border: 6px solid #dadada;
    }
    h2{
        font-size: 18px;
        text-transform: capitalize;
        margin-top: 10px;
        color: #737373;
    }

    .edit-profile-pic{
        font-size: 13px;
        background-color:transparent;
        padding: 5px 17px 8px 15px;
        display: inline-block;
        margin-top: 10px;
        color: #909090;
        border: 1px solid #b7b7b7;
        border-radius: 30px;
        @include transition( all 0.3s ease-in-out );
        &:hover{
            background: $primary-color;
            border: 1px solid $primary-color;
            color: $white;
        }
        i{
            position: relative;
            top: 2px;
            font-size: 15px;
            left: 3px;
        }
    }

}

// card info
.card-info{
    margin-top: 25px;
    @include clearfix();
    .card-title{
        overflow: hidden;
    }
    .label-with-options{
        @include clearfix();

        .options{
            width: 50px;
            float: right;
            .add-card{
                cursor: pointer;
                &:hover{
                    svg{
                        path{
                            fill:darken($primary-color, 5%);
                        }
                    }
                }
            }
        }
        .card-title{
            overflow: hidden;
            font-size: 18px;
            font-weight: bold;
            color: #7b7b7b;
            margin-top: 9px;
        }
    }
}


// cards
.cards{

    .card{
        cursor: pointer;
        background: #fff;
        margin-bottom:10px;
        padding: 10px;

        span:first-child{
            background-size: contain;
            display: inline-block;
            width: 100px;
            height: 25px;
            background-position: 0%;
        }
        span{
            &.ex-date{
                position: relative;
                top: -6px;
                font-weight: bold;
                border-left: 1px solid #ddd;
                color: #ffffff;
                font-size: 13px;
                margin-left: 3px;
                background: #309cbd;
                border-right: 1px solid #ddd;
                padding: 4px 10px 5px;
                @include border-radius(20px);
            }
            &.default{
                background-color:$success;
            }
        }
        &:hover{
            .card-options{
                .fa-close{
                    opacity:1;
                    @include scale(1);
                }
            }
        }
        img{
            width: 75px;
        }
        .card-options{
            float: right;
            margin-top: 3px;

            .fa-edit{
                font-size: 20px;
                color: #a7a5a5;
            }
            .fa-close{
                width: 22px;
                height: 22px;
                background: red;
                text-align: center;
                color: #fff;
                line-height: 22px;
                border-radius: 50%;
                font-size: 13px;
                position: absolute;
                right: 0;
                top: -11px;
                opacity:0;
                @include scale(0.7);
                @include transition(all 0.3s ease-in-out);
            }
        }
    }  
}

// subscribe notice 
.subscribe-notice{
    .notice{
        background-color:$error;
        margin-top: 15px;
        font-size:14px;
        padding: 6px 5px 8px;
        color:$white;
    }
}
// subscribe 
.subscribe{
    button{ 
        padding: 7px 20px 9px;
        width: initial;
    }

    h4{
        font-size: 18px;
        font-weight: bold;
        margin-top: 12px;
        color: #777;
    }

    .unsubscribe{
        .btn-round-view{
            background-color: $error;
            @include transition( all 0.5s ease-in-out );
            &:hover{
                background-color:darken($error, 10%);
            }
        }
    }

    ul{
        margin-top:10px;
        li{
            background-color: #fff;
            padding: 8px 0;
            margin-bottom: 3px;
            color: #848484;
            font-size: 13px;
            span{
                &:not(:first-child){
                    font-weight: bold;
                    margin-left: 5px;
                    font-size: 14px;
                }
            }
            &:last-child{
                padding:0px;
                background-color:transparent;
            }
        }
    }
}

/*modal box*/
.modal-content{
    @include border-radius(0);
}


