.welcome-message{
    margin-top: 45px;
    margin-bottom: 20px;
    h3{
        font-size: 28px;
        color: #828181;
        margin-bottom: 20px;
    }

    p{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #868686;
    }
}

.info{
    font-size: 20px;
    position: absolute;
    right: 15px;
    border: 2px solid $primary-color;
    top: 15px;
    color: #22a2c9;
    cursor: pointer;
    line-height: 25px;
    border-radius: 50%;
    z-index: 99999;
    width: 30px;
    height: 30px;
    @include animation(popup-ani 1.5s ease-in-out infinite);

    @at-root{
        @include keyframes(popup-ani){
            0%{
                @include box-shadow(0 0 0 -2px $primary-color);
            }
            100%{
                @include box-shadow(0 0 0 10px rgba($primary-color, 0));
            }
        }
    }
    &:hover{
        color:#22a2c9;
    }
}

@include media(mb){
    .cards{
        .card{
            position:relative;
            padding-bottom: 30px !important;

            .ex-date{
                display: inline-block;
                text-align: center;
                top: 0;
                padding: 7px 10px;
                margin-bottom: 5px;
                margin-top: 9px;
            }
            .active{
                display: inline-block;
                text-align: center;
                padding: 7px 20px;
                top: 0;
            }
            .card-options{
                .fa-edit{
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                }
                .fa-close{
                    opacity:0;
                    @include scale(1);
                }
            }
        }
    }
}