.l-common{
    font-family: lato;
    background-color:$white;
    padding:30px;
    text-align: center;
    @include border-radius(5px);
    @include box-shadow( 0px 3px 9px 0px rgba(0, 0, 0, 0.38));
}

.l-common{
    .btn-round-icon{
        margin-top: 15px;
    }
    .forget-password{
        color:lighten($black,50%);
    }
}
.sign-in{
    width: 100%;
    padding: 10px;
    background: $success;
    border-radius: 0px;
    margin-top: 20px;
    @include transition( all 1s );
    
    &:hover{
        background-color:darken($success, 10%);
        letter-spacing: 1px;
    }
}

.create-new-user{
    margin: 5px 0 10px;
    background-color:#ababab;
    
    &:hover{
        background-color: #949494;
    }
}

@include media(mb){
    .l-common{
        padding: 30px 20px;

        .title{
            font-size: 25px;
            margin: 20px 0 15px 0;
        }
    }
}