.sign-up{
    font-family: lato;
    background-color:$white;
    text-align: center;
    width:800px;
    max-width: 90%;
    @include border-radius(5px);
    @include box-shadow( 0px 3px 9px 0px rgba(0, 0, 0, 0.38));

    .logo{
        width: 100px;
        height: 100px;
        font-size: 50px;
        line-height: 100px;
        margin-bottom: 30px;
        border: 1px solid $white;
    }

    .info-section{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        background-color:$primary-color;
        padding: 80px 30px 30px;
        font-weight: 300;
        color:$white;
        @include border-top-left-radius(5px);
        @include border-bottom-left-radius(5px);

        .img-logo{
            margin-bottom: 20px;
        }

        .discription{
            text-align: left;
        }
    }

    .sign-up-form{
        padding:30px 20px;
        width:50%;
        margin-left:50%;
    }
}

.back-arrow{
    font-size: 24px;
    @include rotate(180);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    color:#fff;
    top: 20px;
    left: 20px;
    @include border-radius(50%);
}

@include media(xs){
    .sign-up{
        .info-section{
            position:relative;
            width:100%;
            @include border-radius( 4px 4px 0px 0px);
        }
        .sign-up-form{
            padding:30px 20px;
            width:100%;
            margin-left: 0%;
        }
    }
}
