.top-header{
    background-color: $white;
    padding: 10px 30px;
    position:relative;

    .sello-to-fortnox-logo{
        width: 125px;
        display: inline-block;
    }
}

@include media(xs){
    .top-header{
        padding: 10px 15px;
    }
}