html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }

html {
    font-family: lato;
    line-height: 1; }

ol, ul {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle; }

q, blockquote {
    quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
    border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block; }

.info {
    position: absolute;
    border: none;
    background: #32bbe5;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 22px;
    border-radius: 50%;
    -moz-box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #32bbe5, 2px 4px 7px 5px #c5c5c5;
    -webkit-box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #32bbe5, 2px 4px 7px 5px #c5c5c5;
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 5px #32bbe5, 2px 4px 7px 5px #c5c5c5;
    left: 25px;
    bottom: 25px;
    z-index: 9999;
    cursor: pointer; 
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.info.open{
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    transform:scale(0);
}
.info:hover span {
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
.info span {
    position: absolute;
    left: 120%;
    color: #fff;
    top: 21%;
    border-radius: 0px 15px 15px 0px;
    display: inline-block;
    background-color: #32bbe5;
    font-size: 14px;
    width: 83px;
    padding: 5px 0;
    opacity: 0;
    visibility: hidden;
    -moz-transform: translate(10px, 0);
    -o-transform: translate(10px, 0);
    -ms-transform: translate(10px, 0);
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg); } }
@-moz-keyframes rotate {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg); } }
@keyframes rotate {
    from {
        transform: rotate(0deg); }
    to {
        transform: rotate(360deg); } }
@-webkit-keyframes shake {
    from, to {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translate(-10px, 0) scale(1.05);
        -o-transform: translate(-10px, 0) scale(1.05);
        -ms-transform: translate(-10px, 0) scale(1.05);
        -webkit-transform: translate(-10px, 0) scale(1.05);
        transform: translate(-10px, 0) scale(1.05); }
    20%, 40%, 60%, 80% {
        -moz-transform: translate(10px, 0) scale(1.05);
        -o-transform: translate(10px, 0) scale(1.05);
        -ms-transform: translate(10px, 0) scale(1.05);
        -webkit-transform: translate(10px, 0) scale(1.05);
        transform: translate(10px, 0) scale(1.05); } }
@-moz-keyframes shake {
    from, to {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translate(-10px, 0) scale(1.05);
        -o-transform: translate(-10px, 0) scale(1.05);
        -ms-transform: translate(-10px, 0) scale(1.05);
        -webkit-transform: translate(-10px, 0) scale(1.05);
        transform: translate(-10px, 0) scale(1.05); }
    20%, 40%, 60%, 80% {
        -moz-transform: translate(10px, 0) scale(1.05);
        -o-transform: translate(10px, 0) scale(1.05);
        -ms-transform: translate(10px, 0) scale(1.05);
        -webkit-transform: translate(10px, 0) scale(1.05);
        transform: translate(10px, 0) scale(1.05); } }
@keyframes shake {
    from, to {
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0); }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translate(-10px, 0) scale(1.05);
        -o-transform: translate(-10px, 0) scale(1.05);
        -ms-transform: translate(-10px, 0) scale(1.05);
        -webkit-transform: translate(-10px, 0) scale(1.05);
        transform: translate(-10px, 0) scale(1.05); }
    20%, 40%, 60%, 80% {
        -moz-transform: translate(10px, 0) scale(1.05);
        -o-transform: translate(10px, 0) scale(1.05);
        -ms-transform: translate(10px, 0) scale(1.05);
        -webkit-transform: translate(10px, 0) scale(1.05);
        transform: translate(10px, 0) scale(1.05); } }
.shake {
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    transform-origin: center;
    -webkit-animation: shake 0.7s;
    -o-animation: shake 0.7s;
    -o-animation: shake 0.7s;
    animation: shake 0.7s; }

@-webkit-keyframes arrow {
    from, to {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1); }
    50% {
        -moz-transform: translate(5px, 0) scale(0.9);
        -o-transform: translate(5px, 0) scale(0.9);
        -ms-transform: translate(5px, 0) scale(0.9);
        -webkit-transform: translate(5px, 0) scale(0.9);
        transform: translate(5px, 0) scale(0.9); } }
@-moz-keyframes arrow {
    from, to {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1); }
    50% {
        -moz-transform: translate(5px, 0) scale(0.9);
        -o-transform: translate(5px, 0) scale(0.9);
        -ms-transform: translate(5px, 0) scale(0.9);
        -webkit-transform: translate(5px, 0) scale(0.9);
        transform: translate(5px, 0) scale(0.9); } }
@keyframes arrow {
    from, to {
        -moz-transform: translate(0, 0) scale(1);
        -o-transform: translate(0, 0) scale(1);
        -ms-transform: translate(0, 0) scale(1);
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1); }
    50% {
        -moz-transform: translate(5px, 0) scale(0.9);
        -o-transform: translate(5px, 0) scale(0.9);
        -ms-transform: translate(5px, 0) scale(0.9);
        -webkit-transform: translate(5px, 0) scale(0.9);
        transform: translate(5px, 0) scale(0.9); } }
@-webkit-keyframes drawOne {
    from {
        stroke-dasharray: 0px, 500px; }
    to {
        stroke-dasharray: 200px, 500px; } }
@-moz-keyframes drawOne {
    from {
        stroke-dasharray: 0px, 500px; }
    to {
        stroke-dasharray: 200px, 500px; } }
@keyframes drawOne {
    from {
        stroke-dasharray: 0px, 500px; }
    to {
        stroke-dasharray: 200px, 500px; } }
.d-one {
    -webkit-animation: drawOne 1s forwards;
    -o-animation: drawOne 1s forwards;
    -o-animation: drawOne 1s forwards;
    animation: drawOne 1s forwards; }

@-webkit-keyframes draw-one {
    from {
        stroke-dasharray: 140px, 263px; }
    to {
        stroke-dasharray: 210px, 263px; } }
@-moz-keyframes draw-one {
    from {
        stroke-dasharray: 140px, 263px; }
    to {
        stroke-dasharray: 210px, 263px; } }
@keyframes draw-one {
    from {
        stroke-dasharray: 140px, 263px; }
    to {
        stroke-dasharray: 210px, 263px; } }
.d-two {
    -webkit-animation: drawOne 1s forwards;
    -o-animation: drawOne 1s forwards;
    -o-animation: drawOne 1s forwards;
    animation: drawOne 1s forwards; }

@-webkit-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0); }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0); }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0); } }
@-moz-keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0); }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0); }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0); } }
@keyframes bounce {
    from, 20%, 53%, 80%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
    40%, 43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0); }
    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0); }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0); } }
.bounce {
    -webkit-animation: bounce 0.5s forwards;
    animation: bounce 0.5s forwards; }

.modal-box-cover {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    visibility: hidden !important;
    background-color: #32BBE5;
    z-index: 8;
    left: 25px;
    bottom: 25px;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s; }
.modal-box-cover.open {
    -moz-transform: scale(200);
    -o-transform: scale(200);
    -ms-transform: scale(200);
    -webkit-transform: scale(200);
    transform: scale(200);
    visibility: visible !important;
    z-index: 99; }

.modal-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    overflow: scroll;
    visibility: hidden !important; }
.modal-box p{
    font-size: 18px;
    margin: 20px 0;
    line-height: 20px;
}
.modal-box.open {
    visibility: visible !important; }
.modal-box.open #close {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
.modal-box.open .container {
    visibility: visible !important;
    opacity: 1; }
.modal-box #close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    transform-origin: center;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in 0.2s;
    -moz-transition: all 0.3s ease-in 0.2s;
    -o-transition: all 0.3s ease-in 0.2s;
    transition: all 0.3s ease-in 0.2s; }
.modal-box .container {
    visibility: hidden !important;
    opacity: 0;
    padding: 5% 10% 0;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
.modal-box .container h1 {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: bold; }

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: scale(0.5) translate(-50%, -50%);
    -o-transform: scale(0.5) translate(-50%, -50%);
    -ms-transform: scale(0.5) translate(-50%, -50%);
    -webkit-transform: scale(0.5) translate(-50%, -50%);
    transform: scale(0.5) translate(-50%, -50%);
    z-index: 9999; }

button:focus {
    outline: none; }

.landing-page {
    visibility: hidden; }

.line {
    visibility: visible; }

.loader {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.loader #border {
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-animation: rotate 5s linear infinite;
    -o-animation: rotate 5s linear infinite;
    -o-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

button.join-us {
    position: absolute;
    top: 5%;
    right: 3%;
    border: none;
    cursor: pointer;
    background: #32bbe5;
    font-size: 18px;
    color: #fff;
    padding: 7px 30px 12px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    z-index: 99999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-box-shadow: #d8d8d8 0px 4px 0px;
    -webkit-box-shadow: #d8d8d8 0px 4px 0px;
    box-shadow: #d8d8d8 0px 4px 0px; }
button.join-us:hover i {
    -webkit-animation: arrow 1s  forwards infinite; 
    -moz-animation: arrow 1s  forwards infinite; 
    -o-animation: arrow 1s  forwards infinite; 
    animation: arrow 1s  forwards infinite; 
}
button.join-us i {
    font-size: 25px;
    position: relative;
    top: 2px;
    padding-left: 7px; }
button.join-us:focus {
    outline: none; }
button.join-us:hover {
    background-color: #1ba8d3; }

.landing-page {
    position: relative;
    background-color: #f2f2f2;
    height: 100vh;
    overflow: hidden; }
.landing-page .line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #32bbe5;
    transform-origin: center; }
.landing-page svg {
    position: relative;
    overflow: hidden; }
.landing-page svg .cover {
    stroke-width: 2px;
    stroke: #fff; }
.landing-page svg .connect-line {
    fill: transparent;
    stroke: #78dc3b;
    stroke-width: 2px; }
.landing-page svg .first-plug .connect-line {
    stroke-dasharray: 0px, 500px; }
.landing-page svg .second-plug .connect-line {
    stroke-dashoffset: -1400;
    stroke-dasharray: 140px, 263px; }
.landing-page .sello-connect {
    fill: #EF6288; }
.landing-page .eagle-connect {
    fill: #4bd5ff; }
.landing-page .fortnox-connect {
    fill: #78DC3B; }

.f-icon-part {
    visibility: hidden; }

/*svg styling*/
.st0 {
    fill: #34BFEA; }

.st1 {
    fill: #FFFFFF; }

.st2 {
    fill: #78DC3B; }

.st3 {
    fill: #EF6288; }

.st4 {
    fill: #F79B34; }

.st5 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #71BF45; }

.st6 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #FFFFFF; }

.st7 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #C8588A; }

.st8 {
    fill: #84868A; }

.st9 {
    fill: #71BF45; }

.st10 {
    fill: #9B5C8F; }

.st11 {
    fill: #78DC3B;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-miterlimit: 10; }
.red-eagle{
    fill:#F1644C;
}
.blue-eagle{
    fill:#1E90B3;
}
.log-bg{
    fill:#F3F3F3;
}


/*# sourceMappingURL=main.css.map */
/*mobile map*/
.desktop{
    height:100vh;
}
.desktop svg{
    width:100%;
    height:100%;
}
.mobile{
    display: none;
}
@media (max-width: 500px){
    .mobile{
        display: block;
        visibility: hidden;
        height:100vh; 
        text-align:center; 
    }
    .mobile svg{
        display:inline-block;
    }
    .desktop{
        display: none;
    }
    button.join-us{
        top: 2%;
        right: 3%;
        font-size: 15px;
        padding: 1px 15px 8px;
        border: 2px solid #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    .info{
        border: 2px solid #fff;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
        box-shadow: none;
    }
    .modal-box-cover{
        background-color: #1E8FB2;
    }
}
