
// Color variables
$primary-color :#1e90b3 !default;
$seconday-color:#000 !default;
$success       :#4acb6c !default;
$error         :#fa6f62 !default;
$white         :#fff !default;
$black         :#000 !default;
$fortnox       :#6ec13b !default;
$sello         :#f54b75 !default;


// Media breakpoints 
$break-md  : 1199px !default;
$break-sm  : 991px !default;
$break-xs  : 787px !default;
$mobile-ls : 500px !default;
$break-mb  : 400px !default;    
