<div class="">
    <!-- loader -->
    <div  class='full-page-loader'  ng-if='isLoadedFirstTime'>

        <div class="loader" id="loader">
            <svg xmlns="http://www.w3.org/2000/svg" width="180" height="160" viewBox="0 0 141 141" >
                <defs>
                    <style>
                        .cls-1 {
                            fill: none;
                            stroke: #fff;
                            stroke-width: 2px;
                            stroke-dasharray: 65;
                        }

                        .cls-2 {
                            fill: #fff;
                        }

                        .cls-3 {
                            fill: #32bbe5;
                            fill-rule: evenodd;
                        }
                        #eagle_2{
                            fill:#F1644C;
                        }
                        #eagle_1{
                            fill:#1E90B3;
                        }
                    </style>
                </defs>
                <!--            <circle id="border" class="cls-1" cx="70.531" cy="70.5" r="70.531"/>
                            <circle id="background" class="cls-2" cx="70.531" cy="70.5" r="61.813"/>
                            <path id="logo" class="cls-3" d="M33.593,82.807s-1.924-18.268,3.847-30S54.006,36.891,56.677,35.888c4.608-1.731,16.89-5.906,30.009,1.538,13.567,7.7,14.62,22.306,14.62,22.306s-13.18-10.722-25.393-.769c-10.754,8.764-3.847,25.383-3.847,25.383a25.337,25.337,0,0,1-10-6.922c-4.275-4.83-7.695-13.076-7.695-13.076S52.841,74.6,58.985,82.038c4.883,5.914,12.287,7.632,16.159,7.692,7.695,0.119,10.372-.306,18.467-6.153,7.58-5.475,13.85-14.614,13.85-14.614S109.378,83.909,99,95.882c-8.627,9.951-24.751,11.538-26.931,11.538s-15.037,1.058-27.7-13.076c-8.621-9.622-6.925-26.152-6.925-26.152a17.856,17.856,0,0,0-2.308,5.384A71.131,71.131,0,0,0,33.593,82.807Zm35.4-41.535a13.69,13.69,0,0,0,5.386,3.077,17.953,17.953,0,0,0,6.925,0s-3.847,4.615-8.464,3.077C69.254,46.232,68.988,41.272,68.988,41.272Z"/>-->

                <circle id="border" class="rotate cls-1" cx="77" cy="78.5" r="62" ></circle>
                <circle id="background" class="cls-2" cx="77" cy="78.5" r="55"></circle>
                <path id="eagle_2" d="M113.4,97.1c-12.4,20.1-37.5,19-48.7,10.2c-7.7-6-8.8-13.7-7.7-19.2c0.8-3.8,3.8-7.9,7.6-8.8
                      c-1.6,1.9-0.6,5.8,0.4,7.2c4.2,5.9,14.3,4.7,20.4-2.3c9.2-10.7,4.9-33.4-15.6-37c-17.7-3.1-27.5,7.2-27.5,7.1
                      c7.6-10.5,19.9-17.4,33.9-17.4c2.6,0,5.2,0.2,7.7,0.7l1.9,0.4c7.8,2.1,13.6,9.3,13.6,17.8c0,2.6-0.5,5.1-1.5,7.3
                      c2.3-3.1,3.7-6.9,3.7-11.1c0-2.7-0.6-5.3-1.6-7.6c10.7,7.5,17.8,20,17.8,34.1c0,1,0,1.9-0.1,2.9c-0.5,7.8-6.4,14-14,15
                      c0.8,0.1,1.6,0.2,2.5,0.2c3.4,0,6.8-1.4,8.8-2.9C114.4,94.9,114.2,95.9,113.4,97.1z"></path>
                <path id="eagle_1" d="M52.7,85.6c2.9-10.1,13.4-12.9,17.2-10.7c3.5,2,3,5.5,1.7,6.9c-1.2,1.5,0.7,1.5,0.7,1.5
                      s10.8-0.4,11.2-11.9c0.3-10.3-7.8-18.3-19.2-18.5c-6.7-0.1-20.8,3.7-26.8,14.9c1.5-1.4,3.2-2.7,5.2-3.7c1.1-0.6,2.2-1,3.3-1.4
                      c-8.7,5.9-16.1,24.4-0.9,43.3c6.6,8.3,23.9,18.1,41.9,12.7C68.3,120.4,46.8,106.3,52.7,85.6z M69.8,60.4l6.1,4.3
                      c0,0-1.6,1.6-4.3,0.3C68.2,63.3,69.8,60.4,69.8,60.4z"></path>
            </svg>

        </div><!-- loading -->
    </div>

    <div class='route-loader' ng-if="isRouteLoading" > 
        <div class='sidebar-load-bar sidebar-load-bar-small animated fadeInUp'>
            <div class='sidebar-bar'></div>
            <div class='sidebar-bar'></div>
            <div class='sidebar-bar'></div>
        </div>
    </div>
</div>