<style>
/* Style for ng-image crop */
img-crop{
    width:100%;
    height:100%;
    display:block;
    position:relative;
    overflow:hidden
}

img-crop canvas{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    outline:0;
    -webkit-tap-highlight-color:transparent
}

.cropArea {
    overflow: hidden;
    height: 230px;
    border: 2px dashed #ddd;
}

    /* for image crop */
.modal-body .images-wrapper{
    background-color: #F9F9F9;
    padding: 15px 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}
.modal-body .images-wrapper h3{
    font-size: 18px;
    margin-bottom: 15px;
    color: #424242;
    font-weight: 300;
}
</style>
<script type="text/ng-template" id="editProfilePic.html">
    <div class="modal-header">
    <h3>Picture</h3>
    </div><!-- /modal-header -->

    <div class="modal-body">
    <div class="row">
    <div ng-hide="cropArea" class="col-sm-12">
   
    <div class="drop-zone">                                         
    <i class="font-icon font-icon-cloud-upload-2"></i>
    <div class="drop-zone-caption">Image</div>
    <span class="btn btn-rounded btn-file">
    
    
    <div class="custom-import custom-button">
        <span class="label">Upload Profile Picture</span>
        <i class="fa fa-cloud-upload"></i> 
        <span class="label-file"></span>
        <input class="import-field" type="file" name="name" id="xtremeFileInput" value="1" placeholder="">
    </div>
     
    </span>
    </div> <!-- /form-group -->
    </div> <!-- /col-md-12 -->

    <div class="col-md-12" ng-show="cropArea">
    <div class="images-wrapper clearfix">
    <div class="col-sm-7">
    <h3>Original Image</h3>
    <div class="cropArea">
    <img-crop area-type="square" image="profilePic" result-image="croppedProfilePic"></img-crop>
    </div>
    </div>
    <div class="col-sm-5">
    <h3 >Cropped Image</h3>
    <img ng-src="{{croppedProfilePic}}" />
    </div>
    </div><!-- /images-wrapper -->
    </div><!-- /col-md-12 -->

    </div> <!-- /row-->
    </div> <!-- /modal body -->

    <div class="modal-footer">
    <button type="submit" class="btn-round-view" ng-click="cancel()">Ok</button>
    </div>  
</script>

<script id="addCard.html" type="text/ng-template">
    <div class="modal-header">
        <h3>Add Card</h3>
    </div><!-- /modal-header -->

    <div class="modal-body">
         <form name="cardForm" ng-submit="cardForm.$valid && save()" novalidate>
            <div class="">
                <div class="">
                    <div class="form-group">
                        <input type="text"
                            class="first form-control" 
                            ng-model="card.number" 
                            payments-validate="card" 
                            payments-format="card" 
                            payments-length="card" 
                            payments-type-model="type"
                            ng-class="type" 
                            placeholder="Card Number" 
                            required/>
                    </div>
                </div>
               
            </div><!-- /. -->
                <div class="clearfix">
                    <div class="form-group ">
                    <label>Exp. month</label>
                    <select class="form-control" 
                        ng-model="card.exp_month" 
                        ng-options="m for m in month"></select>
                </div>

                <div class="form-group ">
                    <label>Exp. year</label>
                    <select class="form-control" 
                        ng-model="card.exp_year" 
                        ng-options="y for y in years"></select>
                </div>
                <div class="">
                    <div class="form-group ">
                        <input type="text"
                            class="last form-control"
                            ng-model="card.cvc" 
                            payments-validate="cvc" 
                            payments-format="cvc" 
                            payments-type-model="type"
                            placeholder='CVC'
                            required />
                    </div>
                </div>
            </div><!-- /. -->
            <div class="clearfix">
                <button type='submit' ladda="uiState.isAdding" class='btn-round-view pull-right'>Save</button>
            </div>
        </form><!-- /.box -->
    </div> <!-- /modal body -->
</script>

<script id="editCard.html" type="text/ng-template">
    <div class="modal-header">
        <h3>Edit Card</h3>
    </div><!-- /modal-header -->

    <div class="modal-body">
         <form name="editCardForm" ng-submit="editCardForm.$valid && update()" novalidate>
            
            <div class="form-group ">
                <label>Exp. month</label>
                <select class="form-control" 
                    ng-model="card.exp_month" 
                    ng-options="m for m in month"></select>
            </div>

             <div class="form-group ">
                <label>Exp. year</label>
                <select class="form-control" 
                    ng-model="card.exp_year" 
                    ng-options="y for y in years"></select>
            </div>

            <div class="form-group ">
                <label>Cardholder name</label>
                <input type="text"
                    class="form-control"
                    ng-model="card.name"/>
            </div>

            <div class="form-group ">
                <label>Street</label>
                <input type="text"
                    class="form-control"
                    ng-model="card.address_line1"/>
            </div>

            <div class="form-group ">
                <label>Street (line 2)</label>
                <input type="text"
                    class="form-control"
                    ng-model="card.address_line2"/>
            </div>

            <div class="form-group ">
                <label>City</label>
                <input type="text"
                    class="form-control"
                    ng-model="card.address_city"/>
            </div>

            <div class="form-group ">
                <label>Zip/Postal</label>
                <input type="text"
                    class="form-control"
                    ng-model="card.address_zip"/>
            </div>

            <div class="form-group ">
                <label>State/Province</label>
                <input type="text"
                    class="form-control"
                    ng-model="card.address_state"/>
            </div>

            <div class="form-group ">
                <label>Country</label>
                <input type="text"
                    class="form-control"
                    ng-model="card.address_country"/>
            </div>

            <div class="clearfix">
                <button type='submit' ladda="uiState.isUpdating" class='btn-round-view pull-right'>Save</button>
            </div>
        </form><!-- /.box -->
    </div> <!-- /modal body -->
</script>

<side-menu></side-menu>

<main class="main open" id="main-content">

    <!-- Top header section  -->
    <top-header></top-header>

    <!-- notification -->
    <notification message = 'notes'></notification>

    <div class="activities profile-page">
        <div class="col-md-3">
            <div class="profile-info"> 
                <!--<img  src="/eaglejoiner/sello2fortnox/assets/img/user.jpg" alt="User img"/>-->
                <!--<img ng-if='croppedAvatar' ng-src="{{croppedAvatar}}" alt="Profile Picture" />-->
                
                <div class="img" 
                    ng-if='!croppedAvatar && !gscope.user.profilePic' 
                    style="background-image:url('/eaglejoiner/sello2fortnox/assets/img/user.jpg'); background-repeat: no-repeat; background-size: cover;">
                </div>
                <div class="img" 
                    ng-if='croppedAvatar' 
                    style="background-image:url({{croppedAvatar}}); background-repeat: no-repeat; background-size: cover;">
                </div>
                <div class="img" 
                    ng-if='gscope.user.profilePic && !croppedAvatar' 
                    style="background-image:url({{gscope.user.profilePic}}); background-repeat: no-repeat; background-size: cover;">
                </div>
                
                <h2 ng-bind="gscope.user.name"></h2>
                <button type="button" 
                        class="edit-profile-pic" 
                        ng-click="editProfilePic()">
                        Edit Profile Picture <i class="fa fa-edit"></i>
                </button>

                <div class="subscribe">
                    <h4>
                        Subscriptions
                        <i ng-show="uiState.isFetchingSubscription" class="fa fa-spinner fa-pulse fa-32x fa-fw"></i>
                    </h4> 
                    
                    <div ng-if="subscription.length < 1 && !uiState.isFetchingSubscription" class="subscribe-notice">
                        <div class="notice">Your are not subscribed to any plan.</div >
                        <a href="#/setting" class="btn-round-view">Subscribe</a>
                    </div>
                    <ul>
                        <li ng-repeat = "s in subscription">
                            
                            <ul ng-if="s.cancel_at_period_end">
                                <li>
                                    <span>Amount</span>
                                    <span>{{s.plan.amount/100}} kr </span><span>(per {{(s.plan.interval)}} )</span>
                                </li>
                                <li>
                                    <span>Last payment date</span>
                                    <span>{{s.current_period_start * 1000 | date : 'MMM d, yyyy'}}</span>
                                </li>
                                 <li>
                                    <span>Subscription end date</span>
                                    <span>{{s.current_period_end * 1000 | date : 'MMM d, yyyy'}}</span>
                                </li>
                                <li> 
                                    <button class="btn-round-view"
                                        ng-click="updateSubscription(s)"
                                        ladda = "uiState.isCancellingSubscription_{{s.id}}">
                                        Update subscription
                                    </button>
                                </li>
                            </ul>
                             
                            <ul class="unsubscribe" ng-if="!s.cancel_at_period_end">
                                <li>
                                    <span>Amount</span>
                                    <span>{{s.plan.amount/100}} kr </span><span>(per {{(s.plan.interval)}} )</span>
                                </li>
                                <li>
                                    <span>Last payment date</span>
                                    <span>{{s.current_period_start * 1000 | date : 'MMM d, yyyy'}}</span>
                                </li>
                                <li>
                                    <span>Next payment date</span>
                                    <span>{{s.current_period_end * 1000 | date : 'MMM d, yyyy'}}</span>
                                </li>

                                <li> 
                                    <button class="btn-round-view"
                                        ng-click="unsubscribe(s)"
                                        ladda = "uiState.isCancellingSubscription_{{s.id}}">
                                        Unsubscribe 
                                    </button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /subscribe -->

            </div><!-- /.profile-info -->
        </div><!-- /.col-md-3 -->

        <div class="col-md-9">
            <div class="user-info ">
                <form name="userProfileForm" ng-submit="userProfileForm.$valid && save()" novalidate>
                    <label>Info</label>
                    <div class="box clearfix">
                        <div class="c-row">
                            <div class="col-md-6 c-gap">
                                <div class="form-group">
                                    <input type="text" 
                                        ng-model="editedProfile.first_name" 
                                        class="form-control" 
                                        placeholder="First Name" 
                                        required/>
                                </div>
                            </div>
                            <div class="col-md-6 c-gap">
                                <div class="form-group">
                                    <input type="text" 
                                        ng-model="editedProfile.last_name" 
                                        class="form-control" 
                                        placeholder='Last name' 
                                        required />
                                </div>
                            </div>
                        </div><!-- /.c-row -->
                        <div class="c-row">
                            <div class="col-md-6 c-gap">
                                <div class="form-group">
                                    <input type="text" 
                                        ng-model="editedProfile.address" 
                                        class="form-control" 
                                        placeholder='Address' 
                                        required/>
                                </div>
                            </div>
                            <div class="col-md-6 c-gap">
                                <div class="form-group">
                                    <input type="number" 
                                        ng-model="editedProfile.phone" 
                                        class="form-control " 
                                        placeholder='Phone no' 
                                        required/>
                                </div>
                            </div>

                        </div><!-- /.c-row -->
                        <button type='submit' ladda="uiState.isSaving" class='btn-round-view pull-right'>Save</button>
                    </div><!-- /.box -->
                </form>
            </div><!-- /.user info --> 

            <div class="user-info card-info clearfix">
                <form name="changePasswordForm" ng-submit="changePasswordForm.$valid && changePassword( changePasswordForm )" novalidate>
                    <label>Change Password <span class="fa fa-arrow-down" ng-class="{'open' : uiState.showPasswordBox }" ng-click='togglePassword()'></span></label>
                    <div class="box clearfix password-box">
                        <div class="c-row">
                            <div class="col-md-5 c-gap">
                                <div class="form-group">
                                    <input type="password"
                                        name="old_password"
                                        ng-model="pass.old_password" 
                                        class="form-control"
                                        placeholder="Old Password" 
                                        required/>
                                </div>
                            </div>
                            <div class="col-md-5 c-gap">
                                <div class="form-group">
                                    <input type="password" 
                                        name="new_password"
                                        ng-model="pass.new_password" 
                                        class="form-control" 
                                        placeholder='New Password' 
                                        required />
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button type='submit' ladda="uiState.isChangingPassword" class='btn-round-view pull-right'>
                                    Change
                                </button>
                            </div>
                        </div><!-- /.c-row -->
                       
                        
                    </div><!-- /.box -->
                </form>
            </div><!-- /.user info -->

            <div class="card-info">

                <div class="label-with-options" >
                    <div class="options">
                        <div ng-click="addCard()" class="add-card" tooltip-placement="left" uib-tooltip="Add card">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="40px" viewBox="0 0 471.816 471.816" style="enable-background:new 0 0 471.816 471.816;" xml:space="preserve">
                            <g>
                            <path d="M434.716,123.979c0-22.231-18.021-40.251-40.25-40.251H40.25C18.02,83.729,0,101.75,0,123.979v35.247h434.716V123.979z" fill='#1E90B3'/>
                            <path d="M410.94,275.758l-26.498-0.008l-0.008-26.498c0-1.381-1.119-2.5-2.5-2.5h-20c-0.664,0-1.3,0.263-1.769,0.732    c-0.469,0.469-0.731,1.104-0.731,1.768l0.008,26.49l-26.49-0.008c-1.381,0-2.5,1.119-2.5,2.5v20.002    c0,0.662,0.262,1.297,0.732,1.768c0.469,0.468,1.104,0.732,1.768,0.732l26.498,0.008l0.008,26.498    c0,0.662,0.265,1.299,0.732,1.768c0.469,0.47,1.104,0.732,1.768,0.732h20c1.381,0,2.5-1.119,2.5-2.5l-0.008-26.49l26.49,0.008    c0.662,0,1.299-0.264,1.768-0.73c0.469-0.47,0.732-1.105,0.732-1.769v-20C413.44,276.875,412.321,275.758,410.94,275.758z" fill='#1E90B3'/>
                            <path d="M372.022,188.501c-18.219,0-35.312,4.912-50.029,13.475H0v122.11c0,22.229,18.02,40.251,40.25,40.251h267.227    c17.414,14.805,39.955,23.75,64.547,23.75c55.026,0,99.793-44.766,99.793-99.793C471.815,233.269,427.05,188.501,372.022,188.501z     M148.642,309.171c0,2.852-2.313,5.163-5.164,5.163H63.855c-2.852,0-5.166-2.312-5.166-5.163v-15.71    c0-2.854,2.314-5.165,5.166-5.165h79.623c2.852,0,5.164,2.312,5.164,5.165V309.171z M372.022,351.547    c-34.935,0-63.25-28.318-63.25-63.251s28.315-63.25,63.25-63.25c34.934,0,63.25,28.318,63.25,63.25    S406.956,351.547,372.022,351.547z" fill='#1E90B3'/>
                            </g>
                            </svg>
                        </div>
                    </div>
                    <div class="card-title">Card info <i ng-show="uiState.isProcessingCard" class="fa fa-spinner fa-pulse fa-32x fa-fw"></i></div>
                </div><!-- /.label with options -->

                <div class="cards clearfix c-row" ng-if="gscope.user.stripeCustomer">

                    <div class="col-md-6 c-gap" ng-repeat="c in cards">
                        <div class="card">
                            <!--//<img src="/eaglejoiner/sello2fortnox/assets/img/visa.png" alt="User img"/>-->
                            <span class="{{c.brand | lowercase }}"></span>
                            <span class="ex-date">Exp-date - {{c.exp_month | numToMonth }} {{c.exp_year}}</span>
                            <span class="ex-date default" ng-if = '$index == 0'>Active</span>
                            <span class="card-options">
                                <i class="fa fa-close" ng-click="deleteCard(c)"></i>
                                <i class="fa fa-edit" ng-click="editCard(c)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-if="!gscope.user.stripeCustomer">You are not a stripe customer. </div>
            </div><!-- /.user-info -->
        </div><!-- /.profile-page -->
    </div><!-- /.connected-n-profile -->

</main><!-- /.main -->
