.activities-options{
    margin-bottom: 10px;
    cursor: pointer;
    float:right;
    
    ul{
        li{
            width: 35px;
            height: 35px;
            background-color: #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 35px;
            margin: 0 3px;
            float: left;
            @include transition( background-color 0.5s ease-in-out );
            
            &:hover{
                color:$primary-color;
            }
        }
    }
}