@include keyframes( left-inf ){
    0%{
        @include translate(0, 0);   
    }
    50%{
        @include translate(-3px, 0);
    }
    100%{
        @include translate(0,0);
    } 
}

.reload{
    span[class^="icon-"]{
        @include animation( spin 3s infinite steps(538));
    }
}
@include keyframes(spin) {
    0% {
        @include rotate(0);
    }
    100% {
        @include rotate(359);
    }
}