.c-check{
    margin-top: 15px;
    color:lighten($black, 50%);

    input[type="checkbox"] + label{
        padding-left: 30px;
        cursor:pointer;
    }
    input[type="checkbox"]{
        display: none;
    }
    input[type="checkbox"] + label:after{
        content:"";
        position: absolute;
        top: -2px;
        left:0;
        width:20px;
        height:20px;
        border:1px solid lighten($black, 80%);
    }
    input[type="checkbox"] + label:before{
        content:"\e915";
        position:absolute;
        top: -2px;
        font-family: 'icomoon' !important;
        width: 20px;
        height: 20px;
        text-align: center;
        color:$white;
        left:0px;
        font-size: 12px;
        line-height: 20px;
        background-color:$primary-color;
        @include scale(0);
        @include transition(all 0.1s ease-in-out);
    }
    input[type="checkbox"]:checked + label:before{
        @include scale(1);
    }
    input[type="checkbox"]:checked + label:after{
        border:1px solid transparent;
    }
}