@import "../helpers/_variables.scss";

.dash-profile{
    margin:30px 0;
    .img{
        width: 100px; 
        height: 100px;
        margin-top: 18px;
        background-size: cover !important;
        float:left;
        background: rebeccapurple;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        border: 2px solid lighten($black,95%);
    }
    .detail{
        overflow:hidden;
        padding:15px;
        background-color:lighten($black,99%);
        border:1px solid lighten($black,95%);
    }
}

.pf-table{
    width: 100%;
    max-width: 100%;
    tr{
        td{
            padding:5px 0;
            font-weight: 300;
            color:lighten($black, 50%);
        }
    }
}

@include media(xs){
    .dash-profile{
        text-align: center;

        .img{
            display: inline-block;
            float:none;
            margin-top:0;
            margin-right: 0;
            margin-bottom: 10px;
        }
    }
}