.dash-setting{
    margin:30px 0;
}

.fortnox{
    background-color:$fortnox;
}
.sello{
    background-color:$sello;
}

.setting{
    padding:31px;
    text-align: center;
    color:$white;
    img{
        margin-bottom: 25px;
        display: inline-block;
    }
    .status{
        margin-bottom:8px;
        
        h3{
            text-transform: uppercase;
            font-size:22px;
            font-weight: bold;
            margin-bottom: 15px;
        }
        > span{
            background-color: rgba($white, 0.3);
            padding: 5px 15px 8px;
            font-size: 14px;
            display: inline-block;
            margin-bottom: 10px;
            @include border-radius(20px);

            span[class^="icon-"]{
                margin-left: 7px;
                position: relative;
                top: 2px;
            }
        }
    }

    a{
        border: 1px solid rgba($white, 0.5);
        padding: 5px 15px 8px;
        color:$white;
        display: inline-block;
        @include border-radius(20px);

        span[class^="icon-"]{
            margin-left: 7px;
            position: relative;
            top: 2px;
        }
    }
}

@include media(xs){
    .fortnox{
        margin-bottom: 30px;
    }
}