.filter-options{
    display:none;
    label{
        font-size: 16px;
        color: #8a8a8a;
        text-transform: uppercase;
        margin-bottom: 15px;
    } 

    .date-range, .response-type, .action-type{
        text-align: left;
    }
}

@include media(xs){
    .filter-options{
        .response-type{
            margin: 25px 0;
            label{
                margin-bottom: 10px;
            }
        }
    }
}