.logo{
    width:140px;
    height:140px;
    font-size:60px;
    color:$white;
    background-color:$primary-color;
    line-height: 140px;
    text-align: center;
    display: inline-block;
    @include border-radius(50%);
}

@include media(mb){
    .logo{
        width: 80px;
        height: 80px;
        font-size: 40px;
        line-height: 85px;
    }
}