.title-n-menu{
    transform-origin: left;
    @include scale(1,1);
    @include transition(all 0.2s ease-in-out);
    
    &.open{
       .menu-icon{
           opacity:0;
           @include scale(0,0);
       }
       .site-title{
           opacity:0;
           @include scale(0,0);
       }
    }
}

.menu-icon{
    width:30px;
    margin-top: 7px;
    cursor:pointer;
    float:left;
    opacity:1;
    transform-origin: left;
    @include scale(1,1);
    @include transition(all 0.2s ease-in-out);

    &.open, &.open:hover{

        span{
            &:first-child{
                @include transform (translate(-2px, 2px) rotate(-45deg));
                width: 60%;
            }
            &:last-child{
                @include transform (translate(-2px, -2px) rotate(45deg));
                width: 60%;
            }
        }
    }
    &:hover{
        span{
            &:first-child{
                @include translate(0, 2px);
            }
            &:last-child{
                @include translate(0, -2px);
            }
        }
    }
    span{
        display:block;
        height:2px;
        margin-bottom:6px;
        background-color:$primary-color;
        @include transition( all 0.3s ease-in-out );
        &:first-child{
            @include translate(0, 0);
        }
        &:last-child{
            @include translate(0, 0);
        }
    }

}

.site-title{
    float:left;
    font-size:24px;
    color:lighten($black,40%);
    margin-left: 15px;
    opacity:1;
    transform-origin: left;
    @include scale(1,1);
    @include transition(all 0.2s ease-in-out);

    h1{
        margin-top:3px;
    }
}

.site-title.mobile{
    display: none;
    float: none;
    margin-top: 26px;
}

@include media(xs){
    .title-n-menu.open{
        @include scale(0,0);
        position:absolute;
    }
}

@include media(ls){
    .title-n-menu{
        .site-title{
            display:none;
        }
    }
    .site-title.mobile{
        display: block;
    }
}