

.rest{
    @include clearfix();
    .title{
        width: 140px;
        text-align: left;
        float: left;
        font-size: 16px;
        color:lighten($black, 50%);
        margin: 11px 0 0;
    }
    .field{
        position: relative;
        overflow: hidden;
    }
} 

@include media(xs){
    .rest{
        .title{
            width:100%;
            margin: 15px 0 10px;
            float: none;
            font-size: 16px;
        }
    }
}