
.user-profile-icon{
    margin-top: 2px;

    .user-name{
        margin-top: 7px;
        margin-right: 5px;
        font-size:14px;
        color:lighten($black, 50%);
        opacity: 1;
        @include scale(1,1);
        @include transition(all 0.2s ease-in-out);

        &.open{
            opacity: 0;
            @include scale(0,0);
        }

        b{
            text-transform: uppercase;
            margin-right: 5px;
            font-weight: bold;
            color:lighten($black, 60%);
        }
    }
    .profile-pic{
        background-size: cover;
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid lighten($black,80%);
        overflow: hidden;
        @include border-radius(50%);
        overflow: hidden;
        opacity: 1;
        @include scale(1,1);
        @include transition(all 0.2s ease-in-out);

        &.open{
            opacity: 0;
            @include scale(0,0);
        }
        
    }
}

@include media(xs){
    .user-profile-icon{
        .user-name{
            display: none;
        }
    }
}