<div class="side-menu open">
    <a href="#/">
        <div class="logo-c">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 30.7 30.7" width='40' style="enable-background:new 0 0 30.7 30.7;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#fff;}
                    .st1{fill:#fff;}
                </style> 
                <path class="st0" d="M28,21.8c-4.3,7-13,6.6-16.9,3.6c-2.7-2.1-3.1-4.7-2.7-6.7c0.3-1.3,1.3-2.7,2.7-3.1c-0.6,0.7-0.2,2,0.1,2.5
                      c1.5,2,5,1.6,7.1-0.8c3.2-3.7,1.7-11.6-5.4-12.9C6.7,3.3,3.3,6.9,3.3,6.9c2.6-3.7,6.9-6,11.8-6c0.9,0,1.8,0.1,2.7,0.2l0.7,0.1
                      c2.7,0.7,4.7,3.2,4.7,6.2c0,0.9-0.2,1.8-0.5,2.5c0.8-1.1,1.3-2.4,1.3-3.9c0-0.9-0.2-1.8-0.6-2.6c3.7,2.6,6.2,7,6.2,11.9
                      c0,0.3,0,0.7,0,1c-0.2,2.7-2.2,4.9-4.9,5.2c0.3,0,0.6,0.1,0.9,0.1c1.2,0,2.4-0.5,3-1C28.3,21,28.2,21.4,28,21.8z"/>
                <path class="st1" d="M6.9,17.8c1-3.5,4.7-4.5,6-3.7c1.2,0.7,1,1.9,0.6,2.4C13,17,13.7,17,13.7,17s3.8-0.2,3.9-4.1
                      c0.1-3.6-2.7-6.4-6.7-6.4c-2.3-0.1-7.2,1.3-9.3,5.2c0.5-0.5,1.1-0.9,1.8-1.3c0.4-0.2,0.8-0.4,1.1-0.5c-3,2.1-5.6,8.5-0.3,15.1
                      c2.3,2.9,8.3,6.3,14.6,4.4C12.3,29.9,4.8,25,6.9,17.8z M12.8,9l2.1,1.5c0,0-0.6,0.6-1.5,0.1C12.3,10.1,12.8,9,12.8,9z"/>
            </svg>
        </div>
    </a>

    <ul>
        <li data-ng-repeat="m in gscope.menu" ng-class="{ 'active' : gscope.slug == m.slug }">
            <a href="#/{{m.slug}}" ><span class="{{m.icon}}"></span></a>
        </li>
    </ul>
</div><!-- /.side-menu -->