<div class="background su-bg">
    <div class="sign-up center" data-dynamic-height>
        <div class="info-section">
            <a href="#/login" class="icon-right-arrow2 back-arrow"><span ></span></a>
            <div class="img-logo text-center">
                <img class=" img-responsive center-block" src="/eaglejoiner/sello2fortnox/assets/img/logo.png" alt=""/>
            </div>
            <div class="discription">
                It is a long established fact that a reader will be distracted by the readable content of a page when 
                <br><br>
                point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using Content here, content here', making it look like readable
            </div>
        </div>


        <div class=" sign-up-form">

            <div class="title">
                <h1>Sign Up</h1>
                <p>Save For Account Now</p>
            </div>
            <form name="registerForm" ng-submit="registerForm.$valid && doRegister()" novalidate novalidate autocomplete="off">
                <div class="form-group">
                    <input type="text" 
                           ng-model="register.username" 
                           ng-trim="false" 
                           ng-change="register.username = register.username.split(' ').join('')" 
                           name="username" 
                           class="form-control first" 
                           placeholder="User name" 
                           required>
                    <span class="icon icon-user"></span>
                </div>
                <div class="form-group">
                    <input type="email" ng-model="register.email" name="email" class="form-control" 
                           placeholder="Email" required>
                    <span class="icon icon-contact"></span>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="register.password" name="password" class="form-control" placeholder="Password" required>
                    <span class="icon icon-key"></span>
                </div>
                <div class="form-group">
                    <input type="password" ng-model="register.confirmPassword" name="confirm_password" class="form-control last" placeholder="Confirm Password" required/>
                    <span class="icon icon-key"></span>
                </div>
                <!--                        <div class="form-group text-left">
                                            <label>Gender</label>
                                            <div class="switch">
                                                <input type="radio" ng-model='register.gender' name="view2" value="male" id="week2" >
                                                <label for="week2" class="switch-male">Male</label>
                                                <input type="radio" ng-model='register.gender' name="view2" value="female" id="month2">
                                                <label for="month2" class="switch-female">Female</label>
                                                <span class="switch-selection"></span>
                                            </div>
                                        </div>-->
                <button type="submit" class="btn-round-icon btn-login" ladda = 'uiState.isRegistering'>
                    <span class="icon icon-right-arrow"></span>
                </button>
        </div>


    </div><!-- /.cover -->

</div><!-- /.background -->
