// MEDIA QUERY
@mixin media($screen)
{
    @if $screen == md{
        @media (max-width: $break-md){
            @content;
        }
    }@else if$screen == sm{
        @media (max-width: $break-sm){
            @content;
        }
    }@else if $screen == xs{
        @media (max-width: $break-xs){
            @content;
        }
    }
    @else if $screen == ls{
        @media (max-width: $mobile-ls){
            @content;
        }
    }@else if $screen == mb{
        @media (max-width: $break-mb){
            @content;
        }
    }@else if $screen == not-mb{
        @media (min-width: $break-xs){
            @content;
        }
    }
} //media query
