<div class="background">
    <div class="cover">
        <div class="l-common center fixed-width" data-dynamic-height>

            <div class="img-logo text-center">
                <img class=" img-responsive center-block" ng-src="{{logo}}" alt=""/>
            </div>
            <div class="title">
                <h1>Sign In</h1>
            </div><!-- /.title -->

            <form name="loginForm" ng-submit="loginForm.$valid && doLogin()" novalidate autocomplete="off">
                <div class="form-group">
                    <input type="text" 
                           name="username" 
                           ng-model="login.email"
                           ng-trim="false" 
                           ng-change="login.email = login.email.split(' ').join('')"
                           class="form-control first" 
                           placeholder="User name"   autocomplete="off"
                           required>
                    <span class="icon icon-user"></span>
                </div>
                <div class="form-group">
                    <input type="password" name="password"  autocomplete="off" ng-model="login.password" class="form-control last" placeholder="Password" required>
                    <span class="icon icon-key"></span>
                </div>
                <div class="form-group text-left c-check hidden">
                    <input type="checkbox" id="remember"/>
                    <label for="remember">Remember me</label>
                </div>
<!--                <button  >
                    <svg width="22" height="23" viewBox="0 0 22 23">
                    <path class="rest-i" d="M18.6,0H9.2a0.471,0.471,0,0,0-.461.481V1.924A0.471,0.471,0,0,0,9.2,2.4h9.4a1.126,1.126,0,0,1,1.1,1.147v15.9A1.126,1.126,0,0,1,18.6,20.6H9.2a0.471,0.471,0,0,0-.461.481v1.442A0.471,0.471,0,0,0,9.2,23h9.4A3.485,3.485,0,0,0,22,19.448V3.552A3.485,3.485,0,0,0,18.6,0Z"/>
                    <path class="arrow" d="M9,17.392l9.1-5.476a0.491,0.491,0,0,0,0-.833L9,5.608a0.445,0.445,0,0,0-.461,0,0.485,0.485,0,0,0-.231.416V8.574H0.46A0.471,0.471,0,0,0,0,9.054v4.891a0.471,0.471,0,0,0,.461.481H8.311v2.549a0.485,0.485,0,0,0,.231.416A0.446,0.446,0,0,0,9,17.392Z"/>
                    </svg>
                </button>-->
                <button class="sign-in" type="submit" ladda="uiState.isLoggingIn">Sign In</button>
                <a href="#/register"><div class="create-new-user btn-success">Create New User</div></a>
                <a href="#/recover" class="forget-password">Forget Your Password?</a>
            </form><!-- /form -->

        </div><!-- /.sign-up -->
    </div><!-- /.cover -->
</div><!-- /.background -->