<side-menu></side-menu>

<main class="main open" id="main-content">

    <top-header></top-header>

    <!-- CONNECTED ACCOUNT AND USER PROFILE -->
    <div class="connected-n-profile clearfix">

        <notification message = 'notes' ></notification>

        <div class="row">
            <div class="col-md-12">
                <div class="site-title mobile text-center">
                    <h1 ng-bind="gscope.pageHeading"></h1>
                </div><!-- /.site-title -->
            </div>

            <div class="col-md-6">
                <div class="connected-account box">
                    <h2>Connected Accounts</h2>
                    <div class="btn-col  clearfix">
                        <div class="c-row">
                            <div class="col-sm-6 c-gap">
                                <button class="btn-success"><img src="assets/img/btn-fortnox.png" alt=""/><span class="icon-link"></span></button>
                            </div>
                            <div class="col-sm-6 c-gap">
                                <!--<button class="btn-fail reload"><img src="assets/img/btn-sello.png" alt=""/><span class="icon-reload"></span></button>-->
                                <button class="btn-success"><img src="assets/img/btn-sello.png" alt=""/><span class="icon-link"></span></button>
                            </div>
                        </div>
                    </div>
                </div><!-- /.connected-n-profile -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="dash-profile box clearfix">
                    <div ng-if="!gscope.user.profilePic" class="img" style="background-image: url('assets/img/user.jpg')"></div>
                    <div ng-if="gscope.user.profilePic" class="img" style="background-image: url('{{gscope.user.profilePic}}')"></div>
                    <div class="detail">
                        <table class="pf-table">
                            <tr>
                                <td>Name</td>
                                <td>:</td>
                                <td ng-if="gscope.user.firstName">{{gscope.user.firstName}} {{gscope.user.lastName}}</td>
                                <td ng-if="!gscope.user.firstName" ng-bind="gscope.user.name | capitalize"></td>
                            </tr>

                            <tr>
                                <td >Email</td>
                                <td>:</td>
                                <td ng-bind="gscope.user.email"></td>
                            </tr>

                            <tr ng-if="gscope.user.address">
                                <td >Address</td>
                                <td>:</td>
                                <td ng-bind="gscope.user.address"></td>
                            </tr>

                            <tr ng-if="gscope.user.phone">
                                <td >Phone</td>
                                <td>:</td>
                                <td ng-bind="gscope.user.phone"></td>
                            </tr>
                        </table>
                    </div><!-- /.detail -->
                    <div><a href="#/profile" class="btn-round-view pull-right"><i class="fa fa-edit"></i> Edit</a></div>
                </div><!-- /.dash profile -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.connected-n-profile -->

    <!-- ACTIVITIES LOG AND SETTING -->
    <div class="activities-log-setting">
        <div class="row">
            <div class="col-md-6">
                <div class="activities clearfix">
                    <div class="title-with-icon">
                        <span class="icon-children-activities"></span>
                        Activities Logs
                    </div>
                    <table class="table activities-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Activities</th>
                                <th>Created</th>
                                <th>Response Code</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat = 'l in log| limitTo: 5'>
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="l.activity_type"></td>
                                <td ng-bind="l.created_date"></td>
                                <td><span ng-class="{ 'success': l.response_code == 200 , 'error' : l.response_code != 200}" class="reponse-code" ng-bind="l.response_code"></span></td>
                            </tr>
                            <tr ng-if="log.length == 0">
                                <td colspan="4">No Record found.</td>
                            </tr>

                        </tbody>
                    </table>

                    <a ng-if="log.length > 0" href="#/log" class="btn-round-view pull-right">View all</a>
                </div><!-- /.activities -->
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
                <div class="dash-setting">
                    <div class="title-with-icon">
                        <span class="icon-system-controller"></span>
                        Settings
                    </div>

                    <div class="fortnox-n-sello">
                        <div class="c-row">
                            <div class="col-sm-6 c-gap">
                                <div class="fortnox setting">
                                    <img src="assets/img/fortnox-logo.png" class="img-responsive" alt=""/>
                                    <div class="status">
                                        <h3>status</h3>
                                        <span ng-class="{ 'error' : !gscope.user.connectedToFrotnox }">
                                            <span ng-hide="gscope.user.connectedToFrotnox">Not </span> Configured 
                                            <span 
                                                ng-class="{ 'icon-success' : gscope.user.connectedToFrotnox }" >
                                            </span>
                                            </span>
                                    </div>
                                    <a href="#/setting">View Setting <span class="icon-system-controller"></span></a>
                                </div><!-- /.fortnox -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-sm-6 c-gap">
                                <div class="sello setting">
                                    <img src="assets/img/sello-logo.png" class="img-responsive" alt="Sello Logo"/>
                                    <div class="status">
                                        <h3>status</h3>
                                        <span ng-class="{ 'error' : !selloStatus}">
                                            Link 
                                            <span ng-hide="selloStatus">
                                                Not 
                                            </span> 
                                            Generated <span class="icon-success"></span>
                                        </span>
                                    </div>
                                    <a href="#/setting">view Setting <span class="icon-system-controller"></span></a>
                                </div><!-- /.fortnox -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.c-row -->
                    </div><!-- /.fortnox-n-sello -->

                </div><!-- /.dash-setting -->
            </div><!-- /.col-md-6 -->

        </div><!-- /.row -->
    </div><!-- /.activities-log-setting -->

</main><!-- /.main -->
