<div class="page-notification-wrapper clearfix">
    <div class=""  ng-if="n.enable" ng-repeat="n in notifications">
        <div ng-class="n.class" class="subscribe-notification ">
            <div class="btn-sub" ng-if="n.showBtn">
                <a ng-href="{{n.btnLink}}" class="btn-border pull-right">
                 {{n.btnText}}
                </a>
            </div>
            <div class="message" ng-bind="n.message"></div>
        </div>
    </div>
</div>