<div class="background">

    <div class="l-common recover center fixed-width" data-dynamic-height>
        <a href="#/login" class="icon-right-arrow2 back-arrow"><span></span></a>
        <div class="img-logo text-center">
            <img class=" img-responsive center-block" src="/eaglejoiner/sello2fortnox/assets/img/logo.png" alt=""/>
        </div>
        <div class="title">
            <h1>Recover</h1>
            <p>Enter Your user Email</p>
        </div>

        <form ng-hide="uiState.hasResetLink" name="resetLinkForm" ng-submit="resetLinkForm.$valid && resetLink()" novalidate>
            <div class="form-group">
                <input type="email" ng-model="reset.email" name="email" class="form-control" placeholder="Email" required>
                <span class="icon icon-contact"></span>
            </div>

            <button type="submit" ladda="uiState.isGettingResetLink" class="btn-round-icon btn-recover">
                <span class="icon-reload"></span>
            </button>
        </form>

        <form ng-show="uiState.hasResetLink" name="recoverForm" ng-submit="recoverForm.$valid && recoverIt()" novalidate autocomplete="off">

            <div class="form-group">
                <input type="text" ng-model="recover.reset_token" name="reset_token" class="form-control first" placeholder="Reset Token" required>
                <span class="icon-reload"></span>
            </div>

            <div class="form-group">
                <input type="password" ng-model="recover.new_password" name="new_password" class="form-control last" 
                       placeholder="New Password" required>
                <span class="icon icon-key"></span>
            </div>

            <button type="submit" ladda="uiState.isRecovering" class="btn-round-icon btn-recover">
                <span class="icon-reload"></span>
            </button>

        </form>
    </div><!-- /.sign-up -->

</div><!-- /.background -->
