.btn-border{
    background-color:transparent;
    display: inline-block;
    padding: 7px 0 9px;
    width: 100px;
    font-size:16px;
    margin-top: 10px;
    text-align: center;
    border:1px solid #fff;
    color: #fff;
    @include transition( all 0.3s ease-in-out );
    &:hover{
        letter-spacing: 1.5px;
        text-decoration: none;
        color:$white;
    }

    span{
        color:#fff;
    }
}