.btn-round-view{
    background: lighten($primary-color, 5%);
    display: inline-block;
    padding: 7px 0 9px;
    width: 100px;
    font-size:16px;
    margin-top: 10px;
    text-align: center;
    border:none;
    color: #fff;
    border-radius: 20px;
    @include transition( all 0.3s ease-in-out );
    &:hover{
        background: $primary-color;
        text-decoration: none;
        color:$white;
    }

    span{
        color:#fff;
    }
}