.btn-round-icon{
    width: 55px;
    border:none;
    height: 55px;
    color:$white;
    line-height: 50%;
    font-size:22px;
    margin-top:20px; 
    border-radius: 50%; 
    background-color: $primary-color;

    &:hover{
        background-color:darken($primary-color, 5%);
        span.icon-right-arrow{
            @include animation( left-inf 1s infinite steps(538));
        }
    }
    span.icon-right-arrow{
        display: inline-block;
    }
}

