.btn-success{
    background: $success;
    color:$white;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    @include transition( all 0.3s ease-in-out );
    
    &:hover{
        background-color:darken($success, 5%);
        letter-spacing: 1px;
    }
}